
<header role="banner" class="main-header">
  <div class="main-header-inner clearfix">

    {% stripwhitespace %}
    <div class="header-logo-section">
      {% if page.url == 'index.html' %}<h1 class="site-name">{% else %}<div class="site-name">{% endif %}
        <a href="/" title="Visit the main page" rel="home">
          <!--[if (gte IE 9)|!(IE)]><!--><img class="site-logo" role="presentation" src="{{ '/images/site/dg-logo-white.svg' | prepend: site.baseurl }}" alt="{{ site.title }}" width="160" height="64" /><!--<![endif]-->
          <!--[if lt IE 9 ]><img class="site-logo" role="presentation" src="{{ '/images/site/dg-logo-white.png' | prepend: site.baseurl }}" alt="{{ site.title }}" width="160" height="64" /><![endif]-->
        </a>
      {% if page.url != 'index.html' %}</div>{% else %}</h1>{% endif %}

      <ul class="header-actions">
        <li class="item">
          <a id="toggle-search" class="link link-search" href="{{ '/search' | prepend: site.baseurl }}" title="search">
            {% icon larger {{ 'search.svg' }} class="action-icon action-search" %}
            <span class="element-invisible">Search</span>
          </a>
        </li>
        <li class="item">
          <a class="link link-comment" href="{{ '/connect' | prepend: site.baseurl }}">
            {% icon larger {{ 'comment.svg' }} class="action-icon action-comment" %}
            <span class="element-invisible">Comment</span>
          </a>
        </li>
      </ul>
    </div>
    {% endstripwhitespace %}

    <div class="header-navigation-section">
      <a class="header-menu-link" href="#main-navigation" data-no-smoothscroll="">Menu</a>
      {% include main/navigation.html class="header-main-navigation" %}
    </div>

  </div>

  <div id="header-drop-down-thingy" class="header-drop-down-thingy clearfix" style="display: none;">
    {% include widgets/search.html id='header-search-form' %}
  </div>

</header>
