
.header-drop-down-thingy {
  display: none;
  &.is-visible {
    display: block;
  }

  background-color: $grey_medium;

  bottom: 0;
  position: fixed;
  top: 5em; // The total height of the header.
  z-index: 10;

  @include media-query-min($bp_medium) {
    width: 36em;
  }

  .search-form {
  }

  .search-query {
    @include box-sizing();

    border: 1px solid $grey_light;
    background-color: transparent;
    padding: 1em 1.4em;
    width: 96%;
    font-size:1.5em;
    @include transition(background, 400ms);
    outline:none;
    margin:0.3em auto 0.2em 0.4em;
    &:focus,&:hover{
      background:$grey_lightest;
    }
  }

  .search-info {
    padding: 0 2em;
    color: $grey_dark;
  }

  .search-result {
    padding: 1em 2em;
    .title {
      font-size: $larger;
      margin: 0;
    }
  }
}
