
.blog-listing {
  .blog-entry {
    border-bottom: 1px solid $grey_lightest;
    padding: 1em 1em 2em;
  }

  .title {
    @include clearfix-mixin;
    margin-bottom: 0.5em;
  }

  //post meta information
  .blog-meta {
    @include clearfix-mixin;
    border-bottom: 1px solid lighten($grey_lightest, 3%);
    font-size: $smaller;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
  }

  .blog-date,
  .blog-author {
    margin-right: $gen_gutter_width;
  }
  .fa.fa-calendar,
  .fa.fa-user {
    color: $blue_vibrant;
    margin-right: $gen_gutter_width/2;
  }

  .blog-image-wrapper {
    border: 1px solid lighten($grey_lightest, 3%);
    border-radius: 2px;
    display: block;
    padding: 0.3em;

    // @TODO: Use smaller images!
    width: 15em;

    @include media-query-max($bp_medium) {
      display: none;
    }
  }
}
