.region-wrapper {
  h3 {
    color: $blue_vibrant;
    font-weight: $font_weight_light;
    font-size: $larger;
  }
  .flag {
    float: left;
    width: 3em;
    margin-right: $gen_gutter_width/2;
    border: 1px solid $grey_lightest;
    margin-top: $gen_gutter_width/2;
  }
  .program-category {
    font-weight: bold;
    color: $black;
  }
}

// quotes for country projects in country list
blockquote.country-quote {
  background: $grey_lightest;
  font-size: $small*1.3;
  position: relative;
  padding: 1em 1em 1em 2.8em;
}

blockquote.country-quote:before {
  display: block;
  font-size: $small*5;
  content: "\201C";
  position: absolute;
  top: 0.1em;
  left: 0.05em;
  color: $grey_light;
  font-family: Georgia, serif;
}
