.region-wrapper {
  h3 {
    color: $blue_vibrant;
    font-size: $larger;
    font-weight: $font_weight_light;
  }
  .flag {
    border: 1px solid $grey_lightest;
    float: left;
    margin-right: $gen_gutter_width/2;
    margin-top: $gen_gutter_width/2;
    width: 3em;
  }
  .program-category {
    font-weight: bold;
    color: $black;
  }
}

// quotes for country projects in country list
blockquote.country-quote {
  background: $grey_lightest;
  font-size: $small*1.3;
  padding: 1em 1em 1em 2.8em;
  position: relative;
}

blockquote.country-quote:before {
  color: $grey_light;
  content: "\201C";
  display: block;
  font-family: $font_stack_alt;
  font-size: $small*5;
  left: 0.05em;
  position: absolute;
  top: 0.1em;
}
