
.expertise-topics {
  .title {
    border-top: 1px solid $grey_lightest;
    border-bottom: 1px solid $grey_lightest;
    color: $black;
    font-size: 1.25em;
    font-weight: normal;

    @include media-query-max($bp_medium) {
      padding: 0.5em 0;
    }
    @include media-query-min($bp_medium) {
      padding: 1em 0;
    }
  }

  .entry {
    @include media-query-min($bp_medium) {
      @include l-column(4);
    }
  }
}
