
.homepage-wrapper {
  background-color: $black;
  color: $white;

  // Reset the default section spacing. Helps with bg images.
  .section-wrapper {
    margin-bottom: 0;

    // Spacing for background images on small devices.
    @include media-query-max($bp_medium) {
      padding: 2em 0;
    }
    // Spacing for background images on large devices.
    @include media-query-min($bp_medium) {
      padding: 15em 0;
      &.section-empowering {
        padding: 20em 0 0;
      }
      &.section-latest-stories {
        padding: 10em 0;
      }
    }
  }
}

// Style for the "empowering.html" homepage section.
.section-empowering {
  .empowering-subsection {
    margin-top: 15em;

    .column {
      text-align: center;
    }

    .info {
      color: $highlight_text;
      font-size: 1.4em;
      font-weight: $font_weight_light;
    }

    /* .info > em */
    em {
      display: block;
      font-size: 1.4em;
      font-style: normal;
    }
  }

  .countries-subsection {
    .countries-count {
      color: $blue_vibrant;
      font-size: 6em;
    }
    .title {
      color: $blue_vibrant;
      font-weight: $font_weight_light;
    }
    p {
      clear: both;
      font-size: 1.4em;
    }
  }

  @include media-query-min($bp_medium) {
    padding-top: 20em;

    .empowering-subsection {
      .info {
        border-right: 1px solid $highlight_text;
        padding: 0.5em 2em 0;
        text-align: right;
      }
      em {
        font-size: 2.5em;
      }
    }

    .countries-subsection {
      .countries-count {
        font-size: 14em;
        line-height: 0.9em;
      }
      .title {
        font-size: 4em;
        margin: 0;
      }
    }

    .description-subsection {
      .column {
        padding: 0.5em 1em;
      }
      .column-0 {
        border-right: 1px solid $highlight_text;
      }
    }
  }

  // @TODO: REMOVE! This is temporary.!
  margin-bottom: 10em !important;
  .countries-subsection {
    display: none;
  }
}

// Style for the "partners.html" homepage section.
.section-partners {
  .title {
    color: $highlight_text;
    font-weight: $font_weight_light;
  }

  .description-subsection {
    font-size: 1.5em;
    .column-1 {
      color: $blue_vibrant;
    }
  }

  .columns-list {
    text-align: center;
  }

  .entry {
    list-style: none;
    margin: 1em 0;
  }

  @include media-query-min($bp_medium) {
    .title {
      font-size: 2.8em;
      padding-left: 2.6em;
    }

    .entry {
      display: inline;
    }

    // @TODO: Cleanup this mess!!!
    .description-subsection {
      .column {
        padding: 0 1em;
        & > p {
          margin: 0.5em 0;
        }
      }
      .column-0 {
        border-right: 1px solid $white;
      }
    }
  }
}

// Style for the "expertise.html" homepage section.
.section-expertise {
  .title {
    > em {
      color: $highlight_text;
      font-style: normal;
    }
  }

  .info-subsection {
    font-size: 1.5em;
  }

  .topic-title {
    @include box-sizing();
    border: 1px solid white;
    padding: 1em;
    text-align: center;
    vertical-align: middle;

    // @TODO: Remove when the default style has been reverted to default values?
    font-size: 1.4em;
    .topic-link {
      @include link-color($white, $highlight_text);
      display: block;
    }
  }

  .topic-link:before {
    background-repeat: no-repeat;
    background-position: center center;
    content: ' ';
    display: block;
    float: left;
    height: 3em;
    width: 3em;
  }
  .topic-information-management:before {
    background-image: url($base_url + "images/other/icon-information-management.png");
  }
  .topic-data-uptake:before {
    background-image: url($base_url + "images/other/icon-data-uptake.png");
  }
  .topic-openness-engagement:before {
    background-image: url($base_url + "images/other/icon-openness-engagement.png");
  }

  @include media-query-min($bp_medium) {
    .title {
      font-size: 1.7em;

      > em {
        display: block;
        font-size: 2em;
      }
    }
  }
}

// Style for the "latest-stories.html" homepage section.
.section-latest-stories {
  .section-title {
    color: $highlight_text;
    font-weight: $font_weight_light;
    text-align: center;
  }

  .blog-entry-wrapper {
    background-color: $white;
    color: $default_text;
  }

  .blog-entry {
    margin: 1em;

    a {
      color: $black;
    }
  }

  .blog-date {
    color: $blue_medium;
    font-weight: bold;
  }

  .blog-title {
    font-weight: $font_weight_light;
    margin-bottom: 0;
  }

  // @TODO: Remove once image processing has been fixed.
  .blog-image-wrapper {
    & > img {
      min-height: 12em;
    }
  }

  @include media-query-max($bp_medium) {
    .blog-image-wrapper {
      display: none;
    }
  }

  @include media-query-min($bp_medium) {
    // Make all blog posts the same height.
    .blog-title {
      @include l-column-force-height($line_height: 1.3em, $rows: 3);
    }
    .blog-lede {
      @include l-column-force-height($line_height: 1.5em, $rows: 7, $color: $white);
    }
  }
}

@include media-query-min($bp_medium) {
  .empowering-subsection {
    display: table;

    .column-0 {
      @include l-column-cell(8);
    }
    .column-1 {
      @include l-column-cell(4);
    }
    .column {
      padding: 0;
      vertical-align: middle;
    }
  }

  .description-subsection {
    .column {
      @include l-column-cell(6);
      vertical-align: middle;
    }
    .column-0 {
      text-align: right;
    }
  }

  @include media-query-min($bp_medium) {
    .topics-subsection {
      display: table;
      border-collapse: separate;
      border-spacing: 1em;
    }
    .topic-title {
      @include l-column-cell(3);
    }
  }
}

// Background images for homepage sections on large devices.
@include media-query-min($bp_medium) {
  $gradient: linear-gradient(
      rgba(0, 0, 0, 0) 95%,
      rgba(0, 0, 0, 1) 99%);
  .section-empowering {
    $background_image: $base_url + 'images/home/frame1.png';
    @include l-background-image($background_image, rgba(0, 0, 0, 0.6), $gradient);
  }

  $gradient: linear-gradient(
      rgba(0, 0, 0, 1) 1%,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0) 95%,
      rgba(0, 0, 0, 1) 99%);
  .section-expertise {
    $background_image: $base_url + 'images/home/frame2.png';
    @include l-background-image($background_image, rgba(0, 0, 0, 0.6), $gradient);
  }

  .section-partners {
    $background_image: $base_url + 'images/home/frame3.png';
    @include l-background-image($background_image, rgba(0, 0, 0, 0.6), $gradient);
  }

  $gradient: linear-gradient(
      rgba(0, 0, 0, 1) 1%,
      rgba(0, 0, 0, 0) 5%);
  .section-latest-stories {
    $background_image: $base_url + 'images/home/frame4.png';
    @include l-background-image($background_image, rgba(0, 0, 0, 0.6), $gradient);
  }
}
