
.homepage-wrapper {
  background-color: $black;
  color: $white;

  .section-wrapper {
    @include l-row-separator();
  }
}

.section-latest-stories {
  .section-title {
    color: $highlight_text;
    font-weight: $font_weight_light;
    text-align: center;
  }

  .blog-entry-wrapper {
    background-color: $white;
    color: $default_text;
  }

  .blog-entry {
    margin: 1em;

    a {
      color: $black;
    }
  }

  .blog-date {
    color: $blue_medium;
    font-weight: bold;
  }

  .blog-title {
    font-weight: $font_weight_light;
    margin-bottom: 0;
  }

  @include media-query-max($bp_medium) {
    .blog-image-wrapper {
      display: none;
    }
  }

  @include media-query-min($bp_medium) {
    // Make all blog posts the same height.
    .blog-title {
      @include l-column-force-height($line_height: 1.3em, $rows: 3);
    }
    .blog-lede {
      @include l-column-force-height($line_height: 1.5em, $rows: 7);
    }
  }
}

