
.page-nav {
  border-top: 1px solid $grey_lightest;
  border-bottom: 1px solid $grey_lightest;
  list-style-type: none;
  margin: 0 0 1em;
  padding: 0;

  overflow-x: auto;
  white-space: nowrap;

  .item {
    display: inline-block;

    &:last-child {
      border-right: 1px solid $grey_lightest;
    }
  }

  .link {
    color: $grey_light;
    font-weight: normal;
    text-transform: uppercase;

    border-left: 1px solid $grey_lightest;
    display: inline-block;
    padding: 0.5em;

    &:hover {
      background: $blue_deep;
      color: $white;
      text-decoration: none;
    }
    &.active {
      background: $blue_deep;
      color: $white;
    }
    @include media-query-min($bp_medium) {
      padding: 1em 5em;
    }
  }
}

.fixed {
    position:fixed;
    top:0;
}

header.main-header.fixed{
  width:100%;
  background: rgba(200, 200, 200, 1);
  z-index: 1001;

  .btn-nav{
    display:none;
  }

  .main-navigation .link{
    line-height:4em;
  }

  h1.site-name{
    background: none;
  }
  .site-logo{
    height:1.5em;
  }
}
