
.page-navigation-wrapper {
  margin-bottom: 1em;
}

.page-navigation {
  border-top: 1px solid $grey_lightest;
  border-bottom: 1px solid $grey_lightest;
  list-style-type: none;
  margin: 0;
  padding: 0;

  overflow-x: auto;
  white-space: nowrap;

  // Sticky navigation on large devices.
  @include media-query-min($bp_medium) {
    background-color: $white;
    line-height: 1.5em;
    min-height: 2.5em;
    &.is-fixed {
      position: fixed;
      top: 4em;
      width: 100%;
      z-index: 1;
      .link {
        padding-bottom: 0.5em;
        padding-top: 0.5em;
      }
    }
  }

  .item {
    display: inline-block;

    &:last-child {
      border-right: 1px solid $grey_lightest;
    }
  }

  .link {
    color: $grey_light;
    font-weight: normal;
    text-transform: uppercase;

    border-left: 1px solid $grey_lightest;
    display: inline-block;
    padding: 0.5em;

    &:hover {
      background: $blue_deep;
      color: $white;
      text-decoration: none;
    }
    &.active {
      background: $blue_deep;
      color: $white;
    }
    @include media-query-min($bp_medium) {
      padding: 1em 5em;
    }
  }
}
