.page-nav {
  border-top: 1px solid $grey_lightest;
  border-bottom: 1px solid $grey_lightest;
  list-style-type: none;
  margin: 0 0 1em;
  padding: 0;

  li:last-child {
    border-right: 1px solid $grey_lightest;
  }

  a {
    color: $grey_light;
    font-weight: normal;
    outline: 1px solid $grey_lightest;
    text-transform: uppercase;
    &:hover {
      background: $blue_deep;
      color: $white;
      text-decoration: none;
    }
    &.active {
      background: $blue_deep;
      color: $white;
    }
    @include media-query-min($bp_small) {
      display: inline-block;
      border-left: 1px solid $grey_lightest;
    }
    @include media-query($bp_small, $bp_medium) {
      padding: 0.5em 1em;
    }
    @include media-query-min($bp_medium) {
      padding: 1em 2em;
    }
  }
  @include media-query-max($bp_small) {
    font-size: 0.75em;
    li {
      display: block;
    }
    a {
      display: block;
      padding: 0.4em;
    }
  }
  @include media-query-min($bp_small) {
    li {
      display: inline-block;
    }
  }
}

.page-nav-wrapper {
  li a {
    padding-left: 5em;
    padding-right: 5em;
  }
}
