
.position-indicator-wrapper {
  position: fixed;
  top: 50%;
  margin-top: -2em;
  text-align: right;
  z-index: 2; // We need this because of section l-background-image().

  @include  media-query-max($bp_small) {
    display: none;
  }
  @include  media-query-max($bp_medium) {
    right: 1em;
  }
  @include  media-query-min($bp_medium) {
    right: 2em;
  }
}

.position-indicator {
  margin: 0;
  padding: 0;

  .position {
    display: block;
    margin: 0.5em 0;
  }

  .position-link {
    @include transition(border-color);
    @include transition(background-color);
    @include hide-text(block, 0.875em);

    border-radius: 50%;
    border: 2px solid $default_text;
    outline: none;

    &.active {
      border-color: $highlight_text;
      background-color: $highlight_text;
    }
  }
}
