// temporary layout- ask Walter about column implementation and then move the below styles to a different file
.blog-page-wrapper{
  clear:both;
  overflow:hidden;
  margin-top:$gen_gutter_width*2;

  ul{
    list-style:none;
  }
}
.blog-content-wrapper{
  width:60%;
  float:left;
}

.blog-sidebar-wrapper{
  width:20%;
  float:right;
}

.post-summary{

  h2{
    margin: 3em 0 0.5em 0;
    display:block;
    clear:both;
  }

  .post-excerpt{
    display:block;
    margin: $gen_gutter_width 0;
  }

  .post-tags{
     font-size: $smaller;
     display:block;
     margin-bottom:$gen_gutter_width;
  }

  .post-thumbnail{
     width:20em;
     margin-right:$gen_gutter_width;
     float:left;
  }


}

.post-meta{
  display:block;
  clear:both;
  border-bottom:1px solid $grey_lightest;
  margin-bottom:1.5em;
  padding-bottom:1em;
  font-size: $smaller;

  .fa.fa-calendar{ margin-right:$gen_gutter_width/2; color: $blue_vibrant}

  li{
  margin-bottom:$gen_gutter_width*3;
  display:block;
  }

}
