
.project-wrapper {
  margin-bottom: 5em;
  padding: 0 2em;

  .title {
    color: $blue_vibrant;
    font-size: $larger;
    font-weight: $font_weight_light;
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  .flag {
    border: 1px solid $grey_lightest;
    float: left;
    margin-right: $gen_gutter_width/2;
  }
  .category {
    font-weight: bold;
    color: $black;
  }
}

// Style project quotes.
.project-quote {
  background: lighten($grey_lightest, 5%);
  border: 1px solid $grey_lightest;
  font-size: $small*1.3;
  overflow: hidden;
  position: relative;

  p {
    // Create new stacking context.
    position: relative;
  }

  &:before,
  &:after {
    color: $grey_lightest;
    display: block;
    font-family: $font_stack_alt;
    font-size: 14em;
    position: absolute;
  }

  // @TODO: Replace with svg icons in order to take control of the exact position.
  &:before {
    content: open-quote;
    left: -0.2em;
    top: -0.25em;
  }
  &:after {
    content: close-quote;
    right: -0.08em;
    bottom: -0.65em;
  }

  margin: 1em 0;
  padding: 1em;
  @include media-query($bp_small, $bp_medium) {
    margin: 1em -2em;
    padding: 1em 2em;
  }
  @include media-query-min($bp_medium) {
    margin: 1em -3em;
    padding: 1em 3em;
  }
}

.region-columns {
  .column {
    @include media-query-min($bp_medium) {
      &:first-child {
        @include l-column(4);
        @include l-first-column();
      }
      &:last-child {
        @include l-column(8);
        @include l-last-column();
      }
    }
  }

  @include media-query-max($bp_medium) {
    .globe-image {
      display: none;
    }
  }
}
