
.team-member {
  margin-bottom: 2em;

  .photo {
    // @TODO: Use smaller images!
    width: 9em;

    @include media-query-max($bp_small) {
      display: none;
    }
  }

  .name {
    font-weight: bold;
    color: $blue_deep;
  }
  .position {
    color: $black;
  }

  @include media-query-min($bp_medium) {
    &.col {
      @include media-query-min($bp_medium) {
        @include l-column(6);
      }

      // .col-0
      &-0 {
        clear: left;
      }
    }
  }
}
