<!doctype html>
<!--[if IE 8 ]>
<html class="no-js ie8 lt-ie9" lang="ro" dir="ltr" xmlns:svg="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>Left Header Nav</title>
  <link rel="stylesheet" type="text/css" href="../less/styles.css"/>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
</head>
<body>
<div class="header-left-section">
  <div class="site-name">
    <h1><a href="/" title="visit the main page" rel="home">
      <img src="../images/dg-logo-white.svg" alt="Development Gateway">
    </a>
    </h1>
  </div>
  <ul class="btn-nav">
    <li class="btn-search">
      <a href="#" title="search">
        <svg class="symbol symbol-search">
          <use xlink:href="../images/sprite.svg#search"></use>
        </svg>
      </a>
    </li>
    <li class="btn-social">
      <a href="#">
        <svg class="symbol symbol-search">
          <use xlink:href="#search"/>
        </svg>
      </a>
    </li>
  </ul>
</div>
<!--end: header left-->


</body>
</html>
