<!doctype html>
<!--[if IE 8 ]>
<html class="no-js ie8 lt-ie9" lang="ro" dir="ltr" xmlns:svg="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>Page Title Section</title>
  <link rel="stylesheet" type="text/css" href="../less/styles.css"/>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
</head>
<body>

<div class="title-banner">
  <h2>Expertise</h2>
  <span class="title-summary">because data should work for people</span>

</div>


</body>
</html>
