
.form-item {
  margin: 1em 0;
}

.form-text {
  @include box-sizing();

  box-shadow: none;
  height: 3em;
  padding: 0 0.6em;

  border: 1px solid $grey_lightest;
  &:focus {
    border-color: $blue_vibrant;
  }
}

.form-submit {
  @include box-sizing();

  border: none;
  border-radius: 0.2em;
  color: $white;
  height: 3em;
  padding: 0 0.875em;

  background: $blue_vibrant;
  border: 1px solid $blue_vibrant;
  &:hover {
    background: lighten($blue_vibrant, 10%);
  }

  // Spacing around the icon.
  > svg {
    fill: $white;
    margin-right: 0.5em;
  }
}

.form--inline {
  @include media-query-min($bp_medium) {
    .form-item {
      display: inline-block;
      margin: 0 1em 0 0;
    }
  }
}

.form--compact {
  // Reduce the spacing between form items.
  .form-item {
    margin: 0.3em 0;
  }

  // Reduce the size of the form items.
  .form-text,
  .form-submit {
    height: auto;
    margin-top: 0.25em;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
  }

  @include media-query-min($bp_medium) {
    .form-text {
      // Occupy the full width of the wrapper.
      max-width: 100%;
    }
  }
}
