
// @TODO: Add some structure to this randomness.

.homepage-wrapper {
  background-color: $black;
  color: $white;

  // Reset the default section spacing. Helps with bg images.
  .section-wrapper {
    margin-bottom: 0;

    // Spacing for background images on small devices.
    @include media-query-max($bp_medium) {
      padding: 2em 0;
    }
    // Spacing for background images on large devices.
    @include media-query-min($bp_medium) {
      padding: 12em 0;
      &.section-partners {
        padding: 14em 0;
      }
      &.section-latest-stories {
        padding: 8em 0;
      }
    }
  }
}

// Style for the "empowering.html" homepage section.
.section-empowering {
  .empowering-subsection {
    .column {
      text-align: center;
    }

    .info {
      color: $highlight_text;
      font-size: 1.4em;
      font-weight: $font_weight_light;
    }

    /* .info > em */
    em {
      display: block;
      font-size: 1.4em;
      font-style: normal;
    }
  }

  .countries-subsection {
    .countries-count {
      color: $blue_vibrant;
      font-size: 6em;
    }
    .title {
      color: $blue_vibrant;
      font-weight: $font_weight_light;
    }
    p {
      clear: both;
      font-size: 1.4em;
    }
  }

  @include media-query-min($bp_medium) {
    .empowering-subsection {
      // @TODO: REMOVE! This is temporary.!
      margin-bottom: 10em !important;
      margin-top: 10em !important;

      // Create a semi-transparent box around the text.
      background-color: #111111;
      background-color: rgba(#111111, 0.6);
      padding-bottom: 2em;
      padding-top: 2em;

      .info {
        border-right: 1px solid $highlight_text;
        padding: 0.5em 2em 0;
        text-align: right;
      }
      em {
        font-size: 2.5em;
      }
    }

    .countries-subsection {
      .countries-count {
        font-size: 14em;
        line-height: 0.9em;
      }
      .title {
        font-size: 4em;
        margin: 0;
      }
    }

    .description-subsection {
      .column {
        padding: 0.5em 1em;
      }
      .column-0 {
        border-right: 1px solid $highlight_text;
      }
    }
  }

  // @TODO: REMOVE! This is temporary!
  .countries-subsection {
    display: none;
  }
}

// Style for the "partners.html" homepage section.
.section-partners {
  .title {
    color: $highlight_text;
    font-weight: $font_weight_light;
  }

  .description-subsection {
    font-size: 1.5em;
    .column-1 {
      color: $blue_vibrant;
    }
  }

  .columns-list {
    text-align: center;
  }

  .entry {
    list-style: none;
    margin: 1em 0;
  }

  @include media-query-min($bp_medium) {
    .title {
      font-size: 2.8em;
      padding-left: 2.6em;
    }

    .entry {
      display: inline;
    }

    // @TODO: Cleanup this mess!!!
    .description-subsection {
      .column {
        padding: 0 1em;
        & > p {
          margin: 0.5em 0;
        }
      }
    }
  }
}

// Style for the "expertise.html" homepage section.
.section-expertise {
  .title {
    > em {
      color: $highlight_text;
      display: block;
      font-style: normal;
    }
  }

  .info-subsection {
    font-size: 1.5em;
  }

  .topic {
    @include box-sizing();
    border: 1px solid white;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
  }

  // @TODO: Replace with SVG icons.
  .topic-link {
    @include link-color($white, $highlight_text);
    display: table;
    width: 100%;
  }
  .topic-col {
    display: table-cell;
    padding: 0.5em;
    vertical-align: middle;
    &.icon {
      width: 3em;
    }
    &.title {
      // @TODO: Remove when the default style has been reverted to default values?
      font-size: 1.4em;
    }
  }

  @include media-query-min($bp_medium) {
    .title {
      font-size: 1.7em;

      > em {
        font-size: 2em;
      }
    }
  }
}

// Style for the "latest-stories.html" homepage section.
.section-latest-stories {
  .section-title {
    color: $highlight_text;
    font-weight: $font_weight_light;
    text-align: center;
  }

  .blog-entry-wrapper {
    background-color: $white;
    color: $default_text;
  }

  .blog-entry--alternative {
    margin: 1em;

    a {
      color: $black;
    }
  }

  .blog-date {
    color: $blue_medium;
    font-weight: bold;
  }

  .blog-title {
    font-weight: $font_weight_light;
    margin-bottom: 0;
  }

  // @TODO: Remove once image processing has been fixed.
  .blog-image-wrapper {
    display: table-cell;
    height: 12em;
    vertical-align: middle;
  }

  @include media-query-max($bp_medium) {
    .blog-image-wrapper {
      display: none;
    }
  }

  @include media-query-min($bp_medium) {
    // Make all blog posts the same height.
    .blog-title {
      line-height: 1.3em;
    }
    .blog-info {
      @include l-column-force-height($line_height: 1.5em, $rows: 12, $color: $white);
    }
  }
}

@include media-query-min($bp_small) {
  .description-subsection {
    .column {
      @include l-column-cell(6);
      vertical-align: middle;
    }
    .column-0 {
      text-align: right;
    }
    .section-partners & {
      .column-0 {
        border-right: 1px solid $white;
      }
    }
  }
}

@include media-query-min($bp_medium) {
  .empowering-subsection {
    display: table;

    .column-0 {
      @include l-column-cell(8);
    }
    .column-1 {
      @include l-column-cell(4);
    }
    .column {
      padding: 0;
      vertical-align: middle;
    }
  }

  .topics-subsection {
    display: table;
    border-collapse: separate;
    border-spacing: 1em;

    .topic {
      @include l-column-cell(4);
    }
  }
}

// Background images for homepage sections on large devices.
@include media-query-min($bp_medium) {
  .section-empowering {
    $background_image: '/images/home/frame1.jpg';
    border-bottom: 1px solid $white;
    @include l-background-image($background_image);
  }

  .section-expertise {
    $background_image: '/images/home/frame2.jpg';
    border-bottom: 1px solid $white;
    @include l-background-image($background_image);
  }

  .section-partners {
    $background_image: '/images/home/frame3.jpg';
    border-bottom: 1px solid $white;
    @include l-background-image($background_image);
  }

  .section-latest-stories {
    $background_image: '/images/home/frame4.jpg';
    @include l-background-image($background_image);
  }
}
