
.page-navigation-wrapper {
  // Keeps the page-navigation-wrapper height constant.
  border-top: 1px solid $white;
  border-bottom: 1px solid $grey_lightest;

  // Sticky navigation on large devices.
  @include media-query-min($bp_medium) {
    min-height: 3.5em;

    .link {
      // Enable transition effects for the sticky page navigation.
      transition-property: padding-top, padding-bottom;
      transition-duration: 300ms;
    }

    .page-navigation {
      background-color: $white;
      line-height: 1.5em;

      &.is-fixed {
        // Keeps the page-navigation-wrapper height constant.
        border-top: 1px solid $white;
        border-bottom: 1px solid $grey_lightest;

        position: fixed;
        top: 4em;
        width: 100%;
        z-index: 10;
        .link {
          padding-bottom: 0.5em;
          padding-top: 0.5em;
        }
      }
    }
  }
}

.page-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;

  overflow-x: auto;
  white-space: nowrap;

  .item {
    display: inline-block;

    &:last-child {
      border-right: none;
    }
  }

  // HACK: Quick fix for the RDI link.
  .item-alternative {
    background-color: $blue_vibrant;
    float: right;
    .link {
      color: $white;
    }
  }

  .link {
    color: $grey_light;
    font-weight: normal;
    text-transform: uppercase;

    border-right: 1px solid $grey_lightest;
    display: inline-block;
    padding: 0.5em;

    &:hover {
      background: $header_logo;
      color: $white;
      text-decoration: none;
    }
    &.active {
      background:$header_logo;
      color: $white;
    }
    @include media-query-min($bp_medium) {
      padding: 1em 5em;
    }
  }
}
