
# Ignore development specific files and folders.
.DS_Store
.idea
*.sublime*
*--ignore.*
/.buildpath
/.project
/.sass-cache/
/.settings
/.vagrant
/_site/
/Vagrantsettings.local.yml


# Ignore environment specific files.
_config.local.yml
Gemfile.lock
robots.txt
public_html
