
# Ignore development specific files
.sass-cache/
.vagrant/
_site/
Vagrant*

# Ignore environment specific files.
_config.local.yml
Gemfile.lock
robots.txt
public_html

# For now ignore all blog post assets.
site_source/assets
