
# Ignore development specific files
.sass-cache/
.vagrant/
_site/
Vagrant*

# Ignore environment specific files.
_config.local.yml
Gemfile.lock
robots.txt

# For now ignore all blog post assets.
_source/assets
