---
layout: page
title: About
permalink: /about/
weight: 0
---

<h3>Solutions that empower</h3>
<p>Development Gateway is a non-profit organization that delivers information solutions to the people on the front lines of international development work. Whether they are government policy makers deciding how to invest scarce resources, aid workers building schools and clinics, or citizens who want to have a voice in the development process, Development Gateway offers tools and advisory services that empower them to be more effective. We work behind the scenes to enable others to make a difference.</p>


<h3>Our mission</h3>
<p>Development Gateway aims to empower international development professionals, governments, and citizens with the knowledge they need to improve lives. We develop information solutions and cultivate the skills to turn information into lasting results.</p>


<h3>What we do</h3>
<p>Our world is changing faster than ever. Tackling the world’s toughest development challenges, today, requires innovation, collaboration and courage. Innovation to transform the intersection of good ideas and data into practical tools and insights. Collaboration to catalyze ambitious endeavors and share knowledge to create a better world. Courage to fail, to roll-up-our-sleeves, to learn from our mistakes, and to convert those failures into solutions.</p>

<p>Development Gateway builds on over 12 years of technical expertise to develop tools, processes, and custom analysis to help our partners better target their development assistance, achieve results, and give voice to their citizens. We work on the frontiers of international development and technology: we translate data into sophisticated, easy-to-digest visual analytics in over 25 countries around the world, including fragile states, post-conflict governments, and rapidly growing middle-income societies. These visualizations equip governments and organizations with information they need to adapt to ever-changing situations and to strategically integrate data-driven evidence into their policies and decision-making.</p>

<p>In the age of big data and increasing transparency worldwide, Development Gateway strives to utilize technology and visual analytics to manage development results. We’re working with our partners across the globe—from governments to NGOs to donors to citizens—to harness the power of data analytics and integrate results into real-time monitoring and evaluation processes. We help clients get value from data; we build robust processes to analyze data quality and to evolve with changing datasets, keeping systems relevant. With this, methodologies rooted in technology can improve program management and on-the-ground services.</p>

<p>Development Gateway celebrates active citizen engagement and helps to promote participation grounded in grassroots organizations. We believe in the power of individual voices to turn conversation into action. Our custom solutions take steps far beyond developing technical tools. They enable governments and organizations to leverage technology to collect and synthesize feedback from their constituents. They empower individuals to take part in the development process, giving them a voice in planning local projects, holding their governments accountable, evaluating results themselves, and driving behavior change. In a word: we aim to fully close the feedback loop between citizens and their governments.</p>

<p>We’re committed to a positive, and lasting, social impact. We see ourselves as a nimble and growing social enterprise, with each project intrinsically tied to our mission and organically conceived to enhance the common good. Our clients—at the heart of everything we do—drive our support of meaningful participation, responsible responses to challenges, and pushing the boundaries of innovation.</p>


{% assign sections = 'Board of Directors,Staff' | split: ',' %}
{% for section in sections %}
{% assign section_name = section | slugify %}
<section class="page-section team-section team-{{ section_name }} clearfix">
  <h3 class="highlighted-title">{{ section }}</h3>
  {% assign offset = 0 %}
  {% for team_member in site.data.team[section_name] %}
    {% if team_member.position == 'Chief Executive Officer' %}
      {% assign wrapper_class = "mobject" %}
      {% assign offset = 1 %}
    {% else %}
      {% comment %}
        @HACK: The .nth-*() CSS selectors can not be used with an 'offset'.
      {% endcomment %}
      {% if offset == 0 %}
        {% capture wrapper_class %}col col-{{ forloop.index0 | modulo:2 }} mobject{% endcapture %}
      {% else %}
        {% capture wrapper_class %}col col-{{ forloop.index | modulo:2 }} mobject{% endcapture %}
      {% endif %}
    {% endif %}
    {% include widgets/team-member.html member=team_member class=wrapper_class %}
  {% endfor %}
</section>
{% endfor %}
