---
layout: page
title: Connect
title_summary: because you can contribute to a better tomorrow
permalink: /connect/
weight: 10
nav_data: connect
---

<section class="page-section">
  <h2 id="connect">Connect</h2>

  {% multicols half clearfix | render-as-html %}

    <h3>Learn The Latest</h3>
    <p>Subscribe to new updates</p>
    {% include subscribe-form.html %}

  <--colbreak-->

    <h3>Follow Us</h3>
    <p>Stay connected and learn the latest from Development Gateway</p>
    {% include widgets/follow-links.html class="content-social-nav" %}

  {% endmulticols %}
</section>

<section class="page-section">
  <h2 id="join">Join</h2>
  <h3>Current Job Openings</h3>
  <p>Become a member of a creative, dynamic, and international team that values hard work, innovative thinking, and a great sense of humor.</p>
</section>

<section class="page-section">
  <h2 id="contact">Contact</h2>

  {% multicols half clearfix %}

    Development Gateway, Inc.\\
    1110 Vermont Ave. NW, Suite 500\\
    Washington, DC 20005 USA\\
    Tel: +1.202.572.9200

  <--colbreak-->

    Development Gateway International, ASBL\\
    49 rue de Trèves\\
    1040 Brussels Belgium\\
    T +32.2.285.06.11

  {% endmulticols %}

  <p>For more information on Development Gateway or for press inquiries, please contact us at <a href="mailto: info@developmentgateway.org">info@developmentgateway.org</a>.</p>
</section>
