---
layout: page
title: Partnership
title_summary: co-creating lasting solutions
page_navigation:
  - { id: partners, title: Partners }
  - { id: coalitions, title: Coalitions }
  - { id: consortia, title: Consortia }
permalink: /partnership/
weight: 7
---

<section id="partners" class="page-section">
  <h2>Partners</h2>

  <h3 class="highlighted-title">Governments</h3>
  <ul class="columns-list columns-list--third">
    {% for partner in site.data.partners.governments %}
    <li class="entry">{{ partner.name }}</li>
    {% endfor %}
  </ul>

  <h3 class="highlighted-title">Organizations</h3>
  <ul class="columns-list columns-list--third">
    {% for partner in site.data.partners.organizations %}
    <li class="entry">{{ partner.name }}</li>
    {% endfor %}
  </ul>
</section>

<section id="coalitions" class="page-section">
  <h2>Coalitions</h2>
  {% multicols coalitions | render-as-html %}
    {% assign partner=site.data.partners.coalitions.wm %}
    <a href="{{ partner.url }}" target="_blank">
      {% image thumb_large {{ partner.logo | prepend: 'images/partners/' | prepend: site.baseurl }} title="{{ partner.name | append: ' logo' }}" role="img" %}
    </a>
    <p class="description">{{ partner.description }}</p>
  <--colbreak-->
    {% assign partner=site.data.partners.coalitions.ogh %}
    <a href="{{ partner.url }}" target="_blank">
      {% image thumb_large {{ partner.logo | prepend: 'images/partners/' | prepend: site.baseurl }} title="{{ partner.name | append: ' logo' }}" role="img" %}
    </a>
    <p class="description">{{ partner.description }}</p>
  <--colbreak-->
    {% assign partner=site.data.partners.coalitions.fbl %}
    <a href="{{ partner.url }}" target="_blank">
      {% image thumb_large {{ partner.logo | prepend: 'images/partners/' | prepend: site.baseurl }} title="{{ partner.name | append: ' logo' }}" role="img" %}
    </a>
    <p class="description">{{ partner.description }}</p>
  {% endmulticols %}
</section>

<section id="consortia" class="page-section">
  <h2>Consortia</h2>

  {% multicols consortia | render-as-html %}
    {% assign partner=site.data.partners.consortia.iati %}
    <a href="{{ partner.url }}" target="_blank">
      {% image thumb_large {{ partner.logo | prepend: 'images/partners/' | prepend: site.baseurl }} title="{{ partner.name | append: ' logo' }}" role="img" %}
    </a>
  <--colbreak-->
    <p class="description">{{ partner.description }}</p>
  <--colbreak-->
    {% assign partner=site.data.partners.consortia.openaid %}
    <a href="{{ partner.url }}" target="_blank">
      {% image thumb_large {{ partner.logo | prepend: 'images/partners/' | prepend: site.baseurl }} title="{{ partner.name | append: ' logo' }}" role="img" %}
    </a>
  <--colbreak-->
    <p class="description">{{ partner.description }}</p>
  {% endmulticols %}
</section>

<section class="page-section">
  <h2>Become a Partner Today</h2>

  {% include main/contact-info.html display_email=1 %}
</section>
