---
layout: page
title: Partnership
title_summary: co-creating lasting solutions
permalink: /partnership/
nav_data: partnership
weight: 7
---

<section class="page-section">
  <h2>Partners</h2>

  <ul class="partner-countries">
    {% for partner in site.data.partners.partners %}
    <li class="partner">{{ partner.name }}</li>
    {% endfor %}
  </ul>
</section>

<section class="page-section">
  <h2>Coalitions</h2>
  {% multicols clearfix | render-as-html %}
    {% assign partner=site.data.partners.coalitions.wm %}
    <a href="{{ partner.url }}" target="_blank">
      {% image thumb_large {{ partner.logo | prepend: 'images/partners/' | prepend: site.baseurl }} title="{{ partner.name | append: ' logo' }}" role="img" %}
    </a>
    <p class="description">{{ partner.description }}</p>
  <--colbreak-->
    {% assign partner=site.data.partners.coalitions.ogh %}
    <a href="{{ partner.url }}" target="_blank">
      {% image thumb_large {{ partner.logo | prepend: 'images/partners/' | prepend: site.baseurl }} title="{{ partner.name | append: ' logo' }}" role="img" %}
    </a>
    <p class="description">{{ partner.description }}</p>
  <--colbreak-->
    {% assign partner=site.data.partners.coalitions.fbl %}
    <a href="{{ partner.url }}" target="_blank">
      {% image thumb_large {{ partner.logo | prepend: 'images/partners/' | prepend: site.baseurl }} title="{{ partner.name | append: ' logo' }}" role="img" %}
    </a>
    <p class="description">{{ partner.description }}</p>
  {% endmulticols %}
</section>

<section class="page-section">
  <h2>Consortia</h2>

  {% multicols clearfix | render-as-html %}
    {% assign partner=site.data.partners.consortia.iati %}
    <a href="{{ partner.url }}" target="_blank">
      {% image thumb_large {{ partner.logo | prepend: 'images/partners/' | prepend: site.baseurl }} title="{{ partner.name | append: ' logo' }}" role="img" %}
    </a>
  <--colbreak-->
    <p class="description">{{ partner.description }}</p>
  <--colbreak-->
    {% assign partner=site.data.partners.consortia.openaid %}
    <a href="{{ partner.url }}" target="_blank">
      {% image thumb_large {{ partner.logo | prepend: 'images/partners/' | prepend: site.baseurl }} title="{{ partner.name | append: ' logo' }}" role="img" %}
    </a>
  <--colbreak-->
    <p class="description">{{ partner.description }}</p>
  {% endmulticols %}
</section>

<section class="page-section">
  <h2>Become a partner today</h2>

  {% include main/contact-info.html display_email=1 %}
</section>
