---
layout: page
title: Our Reach
title_summary: because everyone should have access
page_navigation:
  - { id: africa, title: Africa }
  - { id: asia, title: Asia }
  - { id: europe, title: Europe }
  - { id: americas, title: The Americas }
permalink: /reach/
weight: 3
include_map: True
---

{% assign regions = 'Africa,Asia,Europe,Americas' | split: ',' %}

{% for region in regions %}
{% assign region_name = region | slugify %}
<section id="{{ region_name }}" class="page-section">
  {% forcereducewhitespace %}
  <h2 class="title">
    {% if region_name == 'americas' %}The{% endif %}
    {{ region | capitalize }}
  </h2>
  {% endforcereducewhitespace %}

  {% multicols region-columns | render-as-html %}

  <img src="/images/other/globe-location-{{ region_name }}.png" class="globe-image" alt="{{ region }} region">

  <--colbreak-->

  {% for project in site.data.projects[region_name] %}
  <div id="{{ project.id }}" class="project-wrapper clearfix">

    <h3 class="highlighted-title">
      {% capture image_path %}images/projects/{{ project.id }}.svg{% endcapture %}
      {% image flag_small {{ image_path }} alt="Flag of {{ project.name }}" class="flag" role="img" %}
      {{ project.name }}
      <span> - {{project.year}}</span>
    </h3>

    <div class="category">{{ project.category }}</div>

    {% if project.description %}
    <div class="description">
      {{ project.description | markdownify }}
    </div>
    {% endif %}

    <ul class="features">
      {% for feature in project.features %}
      <li>{{ feature }}</li>
      {% endfor %}
    </ul>

    {% if project.quote %}
    <blockquote class="project-quote">
      {{ project.quote | markdownify }}
    </blockquote>
    {% endif %}

    {% if project.url %}
      <a class="readmore" href="{{ project.url }}">Learn more</a>
    {% endif %}
  </div>
  {% endfor %}

  {% endmulticols %}
</section>
{% endfor %}
