---
layout: page
title: Our Reach
title_summary: because everyone should have access
permalink: /reach/
weight: 3
nav_data: reach
include_map: True
---

{% assign regions = 'Africa,Asia,Europe,Americas' | split: ',' %}

{% for region in regions %}
{% assign region_name = region | slugify %}
<div id="region-{{ region_name }}" class="region-wrapper clearfix">
  <h2 class="title">
    {% if region_name == 'americas' %}The{% endif %}
    {{ region | capitalize }}
  </h2>

  {% multicols region-columns clearfix | render-as-html %}

  <img src="/images/other/globe-location-{{ region_name }}.png" class="globe-image" alt="{{ region }} region">

  <--colbreak-->

  {% for project in site.data.projects[region_name] %}
  <div id="{{ project.id }}" class="project-wrapper clearfix">

    <h3 class="title">
      <img class="flag" role="img" src="{{ site.url }}/images/projects/{{ project.id }}.svg" alt="Flag of {{ project.name }}">
      {{ project.name }}
      <span> - {{project.year}}</span>
    </h3>

    <div class="category">{{ project.category }}</div>

    {% if project.description %}
    <div class="description">
      {{ project.description | markdownify }}
    </div>
    {% endif %}

    <ul class="features">
      {% for feature in project.features %}
      <li>{{ feature }}</li>
      {% endfor %}
    </ul>

    {% if project.quote %}
    <blockquote class="project-quote">
      {{ project.quote | markdownify }}
    </blockquote>
    {% endif %}

    {% if project.url %}
      <a class="readmore" href="{{ project.url }}">Learn more</a>
    {% endif %}
  </div>
  {% endfor %}

  {% endmulticols %}
</div>
{% endfor %}
