
<div class="blog-sidebar-element">
  <h3>Stay Informed</h3>
  {% include subscribe-form.html class='form--compact clearfix' %}
</div>

{% if site.categories != empty %}
<div class="blog-sidebar-element categories-wrapper">
  <h3>Categories</h3>

  <ul class="categories">
    {% for category in site.categories %}
    <li class="category">
      {% assign category_url = category[0] | slugify | prepend: 'categories/' %}
      <a href="{{ category_url | prepend: site.baseurl}}">
        {{ category[0] }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if site.tags != empty %}
<div class="blog-sidebar-element tags-wrapper">
  <h3>Tags</h3>

  <ul class="tags clearfix">
    {% for tag in site.tags %}
    <li class="tag">
      {% assign tag_url = tag[0] | slugify | prepend: 'tags/' %}
      <a class="tag-link" href="{{ tag_url | prepend: site.baseurl}}">
        {{ tag[0] }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
