
<div class="blog-sidebar-element">
  <h3>Welcome</h3>
  <p>This is an introductory paragraph about Development Gateway's blog. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque  sunt explicabo.</p>
</div>

<div class="blog-sidebar-element">
  <h3>Stay Informed</h3>
  {% include subscribe-form.html class='form--compact clearfix' %}
</div>

<!--blog post categories list. should we create those as a navigation similar to the page subnavs ? -->
<div class="blog-sidebar-element categories-wrapper">
  <h3>Categories</h3>

  <ul>
    <!--finish the link structure once we agree on category file structure-->
    <li><a href="">Aid Management</a></li>
    <li><a href="">IATI</a></li>
    <li><a href="">Innovation</a></li>
    <li><a href="">Open Data</a></li>
    <li><a href="">Open Contracting</a></li>
  </ul>
</div>
<!--end: category list-->

<!--start: tags -> how would we pull these from the posts where they are added-->
<div class="blog-sidebar-element tags-wrapper">
  <h3>Tags</h3>

  <ul class="clearfix">
    <li><a class="tag-link" href="#">innovation</a></li>
    <li><a class="tag-link" href="#">country program</a></li>
    <li><a class="tag-link" href="#">aid management</a></li>
    <li><a class="tag-link" href="#">amp</a></li>
    <li><a class="tag-link" href="#">country program</a></li>
  </ul>

</div>
<!--end: tags-->
