
<footer role="banner" class="main-footer">
  <div class="footer-info-wrapper"><div class="footer-info-inner page-layout-element clearfix">
    <div class="footer-items">
      {% stripwhitespace %}
      <nav role="navigation" class="footer-navigation">
        <ul class="links clearfix">
          <li class="item"><a class="link" href="#">About</a></li>
          <li class="item"><a class="link" href="#">Careers</a></li>
          <li class="item"><a class="link" href="#">Contact Us</a></li>
          <li class="item"><a class="link" href="#">Privacy &amp; Terms</a></li>
        </ul>
      </nav>
      {% endstripwhitespace %}

      <div class="footer-copyright">
        &copy; {{ site.time | date: '%Y' }} {{ site.copyright }}
      </div>
    </div>

    <div class="footer-logo">
      <a href="/" title="Visit the main page" rel="home">
        <!--[if (gte IE 9)|!(IE)]><!--><img class="site-logo" role="presentation" src="{{ 'images/site/dg-logo.svg' | prepend: site.baseurl }}" alt="{{ site.title }}" /><!--<![endif]-->
        <!--[if lt IE 9 ]><img class="site-logo" role="presentation" src="{{ 'images/site/dg-logo.png' | prepend: site.baseurl }}" alt="{{ site.title }}" /><![endif]-->
      </a>
    </div>
  </div></div>

  <div class="footer-social-wrapper"><div class="footer-social-inner page-layout-element">
    <nav role="navigation" class="footer-social-navigation">
      <span class="social-slogan">Follow Us</span>
      {% include widgets/follow-links.html %}
    </nav>
  </div></div>

  {% if page.one_pager_data %}
    {% include widgets/one-pager.html json_data_url=page.one_pager_data %}
  {% endif %}

</footer>
