
<header role="banner" class="main-header">
  <div class="main-header-inner clearfix">
    <div class="header-logo-section">
      <h1 class="site-name">
        <a href="/" title="Visit the main page" rel="home">
          <!--[if (gte IE 9)|!(IE)]><!--><img class="site-logo" role="presentation" src="{{ 'images/site/dg-logo-white.svg' | prepend: site.baseurl }}" alt="{{ site.title }}" /><!--<![endif]-->
          <!--[if lt IE 9 ]><img class="site-logo" role="presentation" src="{{ 'images/site/dg-logo-white.png' | prepend: site.baseurl }}" alt="{{ site.title }}" /><![endif]-->
        </a>
      </h1>

      {% comment %}
      {% stripwhitespace %}
      <ul class="btn-nav">
        <li class="btn-search">
          <a href="#" title="search">
            <span class="fa fa-search"></span>
          </a>
        </li>
        <li class="btn-social">
          <a href="#">
            <span class="fa fa-comment-o"></span>
          </a>
        </li>
      </ul>
      {% endstripwhitespace %}
      {% endcomment %}
    </div>

    <div class="header-navigation-section">
      <a class="header-menu-link" href="#main-navigation" data-no-smoothscroll="">Menu</a>
      {% include main/navigation.html class="header-main-navigation" %}
    </div>

  </div>
</header>
