
{% stripwhitespace %}
{% if include.id %}
  {% assign element_id = include.id | prepend: 'id="' | append: '"' %}
{% endif %}
<nav role="navigation" {{ element_id }} class="main-navigation {{ include.class }}">
  <h2 class="element-invisible">Main Menu</h2>

  <ul class="links clearfix">
    {% for entry in site.data.navigation.main %}
      <li class="item">
        <a class="link" href="{{ entry.url | prepend: site.baseurl }}">{{ entry.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
{% endstripwhitespace %}
