---
layout: page
title: About
title_summary: solutions that empower
meta_description: An organization that delivers information solutions and tools to the people on the front lines of international development work.
page_navigation:
  - id: partnerships
    title: Partnerships
  - id: "board-of-directors"
    title: Board of Directors
  - id: team
    title: Team
  - id: financials
    title: Financials
permalink: /about/
weight: 0
published: true
---

{% multicols pageintro half %}

  <h2 class="intro-title">An international nonprofit delivering technology and information solutions for international development.</h2>
  
<--colbreak-->

<img src="/images/other/innovation-graphic.png" alt="innovation points" role="banner">

{% endmulticols %}

<section class="page-section clearfix">
  <h3 class="blue">Our mission is to empower practitioners, governments, and citizens with the knowledge they need to improve lives. We co-create information solutions and cultivate skills to turn information into lasting results.</h3>

  <p>The world is changing faster than ever. Tackling the world’s toughest development challenges requires innovation, collaboration, and iteration. Development Gateway builds on nearly two decades of technical expertise to develop tools, processes, and custom analyses to help  partners better target their development interventions, achieve results, and give voice to citizens.</p>
</section>

<section id="partnerships"  class="page-section clearfix">
  <h2>Partnerships</h2>
  <div class="name">Governments</div>
  <ul class="columns-list columns-list--third">
    {% for partner in site.data.partners.governments %}
    <li class="entry">{{ partner.name }}</li>
    {% endfor %}
  </ul>
 <br/>
  <div class="name">Organizations</div>
  <ul class="columns-list columns-list--third">
    {% for partner in site.data.partners.organizations %}
    <li class="entry">{{ partner.name }}</li>
    {% endfor %}
  </ul>
 <br/>
  <div class="name">Coalitions</div>
  {% multicols coalitions | render-as-html %}
    {% assign partner=site.data.partners.coalitions.wm %}
    <a href="{{ partner.url }}" target="_blank">
      {% image thumb-large|fit {{ partner.logo | prepend: '/assets/partner-logos/' }} title="{{ partner.name | append: ' logo' }}" role="img" %}
    </a>
    <p class="description">{{ partner.description }}</p>
  <--colbreak-->
    {% assign partner=site.data.partners.coalitions.ogh %}
    <a href="{{ partner.url }}" target="_blank">
      {% image thumb-large|fit {{ partner.logo | prepend: '/assets/partner-logos/' }} title="{{ partner.name | append: ' logo' }}" role="img" %}
    </a>
    <p class="description">{{ partner.description }}</p>
  <--colbreak-->
    {% assign partner=site.data.partners.coalitions.fbl %}
    <a href="{{ partner.url }}" target="_blank">
      {% image thumb-large|fit {{ partner.logo | prepend: '/assets/partner-logos/' }} title="{{ partner.name | append: ' logo' }}" role="img" %}
    </a>
    <p class="description">{{ partner.description }}</p>
  <--colbreak-->
    {% assign partner=site.data.partners.consortia.iati %}
  <a href="{{ partner.url }}" target="_blank">
    {% image thumb-large {{ partner.logo | prepend: '/assets/partner-logos/' }} title="{{ partner.name | append: ' logo' }}" role="img" %}
  </a>
  <p class="description">{{ partner.description }}</p>
  <--colbreak-->
    {% assign partner=site.data.partners.consortia.openaid %}
    <a href="{{ partner.url }}" target="_blank">
    {% image thumb-large {{ partner.logo | prepend: '/assets/partner-logos/' }} title="{{ partner.name | append: ' logo' }}" role="img" %}
  </a>
  <--colbreak-->
  <p class="description">{{ partner.description }}</p>
  {% endmulticols %}
 <br/>
  <div class="name">Consortia</div>

  {% comment %}
    @HACK: We can't have multicols tags inside a loop.
    @TODO: Use custom templates and render them inside a loop.
  {% endcomment %}
  {% multicols consortia | render-as-html %}
  {% assign partner=site.data.partners.consortia.iati %}
  <a href="{{ partner.url }}" target="_blank">
    {% image thumb-large {{ partner.logo | prepend: '/assets/partner-logos/' }} title="{{ partner.name | append: ' logo' }}" role="img" %}
  </a>
  <--colbreak-->
  <p class="description">{{ partner.description }}</p>
  <--colbreak-->
  {% assign partner=site.data.partners.consortia.openaid %}
  <a href="{{ partner.url }}" target="_blank">
    {% image thumb-large {{ partner.logo | prepend: '/assets/partner-logos/' }} title="{{ partner.name | append: ' logo' }}" role="img" %}
  </a>
  <--colbreak-->
  <p class="description">{{ partner.description }}</p>
  {% endmulticols %}

  {% multicols consortia | render-as-html %}
  {% assign partner=site.data.partners.consortia.gpsdd %}
  <a href="{{ partner.url }}" target="_blank">
    {% image thumb-large {{ partner.logo | prepend: '/assets/partner-logos/' }} title="{{ partner.name | append: ' logo' }}" role="img" %}
  </a>
  <--colbreak-->
  <p class="description">{{ partner.description }}</p>
  <--colbreak-->
  <--colbreak-->
  {% endmulticols %}

   <div class="name"><a href="/connect/#contact">Become a Partner Today</a></div>

</section>


{% assign sections = 'Board of Directors,Team' | split: ',' %}
{% for section in sections %}
{% assign section_name = section | slugify %}
<section id="{{ section_name }}" class="page-section clearfix">
  <h2>{{ section }}</h2>
  {% assign offset = 0 %}
  {% for team_member in site.data.team[section_name] %}
    {% if team_member.position == 'Chief Executive Officer' %}
      {% assign wrapper_class = "mobject" %}
      {% assign offset = 1 %}
    {% else %}
      {% comment %}
        @HACK: The .nth-*() CSS selectors can not be used with an 'offset'.
      {% endcomment %}
      {% if offset == 0 %}
        {% capture wrapper_class %}col col-{{ forloop.index0 | modulo:2 }} mobject{% endcapture %}
      {% else %}
        {% capture wrapper_class %}col col-{{ forloop.index | modulo:2 }} mobject{% endcapture %}
      {% endif %}
    {% endif %}
    {% include widgets/team-member.html member=team_member class=wrapper_class %}
  {% endfor %}
</section>
{% endfor %}


<section id="consultants" class="page-section">
  <h2>Consultants</h2>

  <ul class="consultants-list columns-list columns-list--third">
    {% for consultant in site.data.team.consultants %}
    <li class="entry">
      <div class="name">{{ consultant.name }}</div>
      <div>{{ consultant.country }}</div>
    </li>
    {% endfor %}
  </ul>
</section>


<section id="financials"  class="page-section">
  <h2>Financials</h2>

  {% for group in site.data.financials %}
    <h3>{{ group.type }}</h3>

    <ul>
      {% for item in group.items %}
      <li>
        <a href="{{ item.file | prepend: '/assets/financials/' | prepend: site.url }}" target="_blank">
          {{ item.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  {% endfor %}
</section>
