---
layout: page
title: About
title_summary: solutions that empower
meta_description: An organization that delivers information solutions and tools to the people on the front lines of international development work.
page_navigation:
  - { id: about, title: About }
  - { id: board-of-directors, title: Board of Directors }
  - { id: team, title: Team }
  - { id: financials, title: Financials }
permalink: /about/
weight: 0
---

<section id="about"  class="page-section">
  <h3 class="blue">Solutions that empower</h3>
  <p>Development Gateway is a non-profit organization that delivers information solutions to the people on the front lines of international development work. Whether they are government policy makers deciding how to invest scarce resources, aid workers building schools and clinics, or citizens who want to have a voice in the development process, Development Gateway offers tools and advisory services that empower them to be more effective. We work behind the scenes to enable others to make a difference.</p>
  <h3 class="blue">Our mission</h3>
  <p>Development Gateway empowers practitioners, governments, and citizens with the knowledge they need to improve lives. We co-create information solutions and cultivate skills to turn information into lasting results.</p>
  <h3 class="blue">What we do</h3>
  <p>Our world is changing faster than ever. Tackling the world’s toughest development challenges, today, requires innovation, collaboration, and iteration. Development Gateway builds on nearly two decades of technical expertise to develop tools, processes, and custom analyses to help  partners better target their development interventions, achieve results, and give voice to citizens.</p>
  <p>We’re committed to a positive, and lasting, social impact. As a nimble and growing social enterprise, each project is intrinsically tied to our mission and organically conceived to enhance the common good.</p>
</section>

{% assign sections = 'Board of Directors,Team' | split: ',' %}
{% for section in sections %}
{% assign section_name = section | slugify %}
<section id="{{ section_name }}" class="page-section clearfix">
  <h2>{{ section }}</h2>
  {% assign offset = 0 %}
  {% for team_member in site.data.team[section_name] %}
    {% if team_member.position == 'Chief Executive Officer' %}
      {% assign wrapper_class = "mobject" %}
      {% assign offset = 1 %}
    {% else %}
      {% comment %}
        @HACK: The .nth-*() CSS selectors can not be used with an 'offset'.
      {% endcomment %}
      {% if offset == 0 %}
        {% capture wrapper_class %}col col-{{ forloop.index0 | modulo:2 }} mobject{% endcapture %}
      {% else %}
        {% capture wrapper_class %}col col-{{ forloop.index | modulo:2 }} mobject{% endcapture %}
      {% endif %}
    {% endif %}
    {% include widgets/team-member.html member=team_member class=wrapper_class %}
  {% endfor %}
</section>
{% endfor %}


<section id="consultants" class="page-section">
  <h2>Consultants</h2>

  <ul class="consultants-list columns-list columns-list--third">
    {% for consultant in site.data.team.consultants %}
    <li class="entry">
      <div class="name">{{ consultant.name }}</div>
      <div>{{ consultant.country }}</div>
    </li>
    {% endfor %}
  </ul>
</section>


<section id="financials"  class="page-section">
  <h2>Financials</h2>

  {% for group in site.data.financials %}
    <h3>{{ group.type }}</h3>

    <ul>
      {% for item in group.items %}
      <li>
        <a href="{{ item.file | prepend: site.baseurl }}" target="_blank">
          {{ item.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  {% endfor %}
</section>
