
.footer-main-navigation-wrapper,
.main-navigation {
  background: $header_background;
  color: $white;
}

.main-navigation {
  .links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .item {
    display: inline-block;
  }

  .link {
    @include link-color($white, $highlight_text);
    @include transition(color);

    display: inline-block;
    font-weight: normal;

    text-decoration: none;
    text-transform: uppercase;
  }
}

.header-main-navigation {
  // Only show on large devices.
  @include media-query-max($bp_medium) {
    display: none;
  }

  // Style menu list item.
  .item {
    color: $white;
    margin: 0;
    text-align: right;
  }

  .link {
    padding: 0 1em;
    line-height: 5em;
  }
  .is-active {
    & > .link {
      @include link-color($black);
      background-color: $white;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;

      // Make the active link smaller and move it down.
      line-height: 4em;
      padding-bottom: 0.5em;
    }
  }
}

.footer-main-navigation {
  // Only show on small and medium devices.
  @include media-query-min($bp_medium) {
    display: none;
  }

  padding: 1em;

  // Display the header.
  /*h2*/.element-invisible {
    margin: 0;
    @include display-invisible-element();
  }

  .item {
    line-height: 2em;
    padding-right: 1em;
    &:last-child {
      border-bottom: none;
      padding-right: 0;
    }
    @include media-query-max($bp_small) {
      border-bottom: 1px solid $footer_bg;
      display: block;
    }
  }
}

.header-menu-link {
  @include link-color($white);

  background-color: $header_logo;
  border-radius: 0.25em;
  font-weight: normal;
  padding: 0.25em 1em;
}

.header-navigation-section {
  float: right;
  margin: 0 1em;

  // Style the header menu link on small and medium devices.
  @include media-query-max($bp_medium) {
    line-height: 2.5em;
  }
}

// Hide the menu link on large devices.
@include media-query-min($bp_medium) {
  .header-menu-link {
    display: none;
  }
}
