

.main-header {
  background: $header_background;

  font-size: 0.8em;
  // @HACK: Force logo size.
  .site-logo {
    height: 2.5em;
  }

  // Set fixed header.
  .main-header-inner {
    background: $header_background;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  // Leave space for the header at the top of the page.
  @include media-query-max($bp_medium) {
    min-height: 2.5em;
  }
  @include media-query-min($bp_medium) {
    min-height: 5em;
  }


  @include media-query-min($bp_medium) {
    .header-logo-section {
      font-size: 2em;
    }
  }
}

.site-name {
  display: inline-block;
  line-height: 1em; // Force vertical alignment.
  margin: 0;

  font-size: inherit;

  // @TODO: Find a different way to align the header items.
  vertical-align: top;

  & > a {
    display: block;
    padding: 0 1em;
  }

  @include transition(background-color);
  background-color: $header_logo;
  &:hover {
    background-color: darken($header_logo, 10);
  }

  .site-logo {
    max-width: none;
  }
}


// Header search and social buttons.
.header-actions {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;

  // @TODO: Find a different way to align the header items.
  vertical-align: top;

  .item {
    display: inline-block;
  }

  .link {
    @include transition(color);
    @include transition(background-color);

    display: inline-block;
    margin: 0;
    text-align: center;
    // Make all icons the same size.
    line-height: 2.5em;
    min-width: 2.5em;

    background-color: $blue_vibrant;
    &:hover {
      background-color: lighten($blue_vibrant, 10%);
    }

    color: $white;
    > svg {
      fill: $white;
      margin-top: -3px;
    }
  }

  .link-comment {
    background-color: $green_deep;
    &:hover {
      background-color: lighten($green_deep, 10%);
    }
  }
}
