
.blog-sidebar {
  // Fixes vertical alignment issue. Cause the margin-top of the top-most header
  // to be contained inside the column, just like on the main content page.
  padding: 1em 0;

  h3 {
    color: $grey_dark;
    font-weight: $font_weight_light;

    // We want less spacing between the header and block content.
    margin-bottom: 0;
  }
}

.categories-wrapper {
  ul {
    list-style: none;
    margin-left: 0;
    margin-top: $gen_gutter_width /2;
    padding-left: 0;
  }
  li {
    font-size: $large;
    a {
      font-weight: $font_weight_light;
    }
  }
}

.tags-wrapper {
  ul {
    list-style: none;
    padding-left: 1em;
  }
  li {
    display: inline-block;
    line-height: 2.5em;
    margin-right: 0.25em;
  }
  .tag-link {
    @include transition(background-color);
    @include transition(color);

    background-color: #eee;
    color: $grey_light;
    font-size: $large;
    padding: 0.3em 0.6em;

    &:hover {
      background-color: $blue_vibrant;
      color: $white;
    }
  }
}
