<!doctype html>
<!--[if IE 8 ]>
<html class="no-js ie8 lt-ie9" lang="ro" dir="ltr" xmlns:svg="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>Widget Boxed Content</title>
  <link rel="stylesheet" type="text/css" href="../less/styles.css"/>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
</head>
<body>
<div class="l-content-wrapper">
  <div class="boxed-content box-content-bordered">
    <h4 class="box-title">Box Title <span class="year-label">- 2012</span></h4>

    <p>
      A scalable open source, development finance reporting system deployed across ten new European Union member states.
    </p>
    <a class="readmore" href="/">Read more</a>
  </div>
  <!-- end: box-->


  <div class="boxed-content box-content-bordered box-content-bg">
    <h4 class="box-title">Box Title <span class="year-label">- 2012</span></h4>

    <p>
      A scalable open source, development finance reporting system deployed across ten new European Union member states.
    </p>
    <a class="readmore" href="/">Read more</a>
  </div>
  <!-- end: box-->
</div>
<!-- end: main page content wrapper-->
</body>
</html>
