<div class="blog-content-wrapper">
  <ul class="post-summary">
    {% for post in site.posts %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

      <span class="post-meta">
        <span class="post-date"><span class="fa fa-calendar"></span>{{ post.date | date: '%B %d, %Y' }}</span>
        <span class="post-author"><span class="fa fa-user"></span>Benjamin Arancibia</span>
        <span class="post-categories">{{ post.categories }}</span>
      </span>

      <span class="post-thumbnail">
        <img src="{{site.url}}/{{post.thumbnail}}" alt="">
      </span>

      <span class="post-excerpt">{{ post.excerpt }}</span>

      <a class="readmore" href="{{ post.url }}">Continue reading</a>

        <span class="post-tags">{{ post.tags }}</span>

    </li>
    {% endfor %}
  </ul>
</div>
