<div class="boxed-content box-content-bordered">
  <h4 class="box-title">Box Title <span class="year-label">- 2012</span></h4>

  <p>
    A scalable open source, development finance reporting system deployed across ten new European Union member states.
  </p>
  <a class="readmore" href="/">Read more</a>
</div>
<!-- end: box-->


<div class="boxed-content box-content-bordered box-content-bg">
  <h4 class="box-title">Box Title <span class="year-label">- 2012</span></h4>

  <p>
    A scalable open source, development finance reporting system deployed across ten new European Union member states.
  </p>
  <a class="readmore" href="/">Read more</a>
</div>
<!-- end: box-->
