<!doctype html>
<!--[if IE 8 ]> <html class="no-js ie8 lt-ie9"  lang="ro" dir="ltr" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 
<html xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 
<!--<![endif]-->
   <head>
      <meta charset="UTF-8">
      <title>Social Footer</title>
      <link rel="stylesheet" type="text/css" href="../_less/styles.css" />
      <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
   </head>
   <body>
      <div id="l-footer-social">

         
         <span class="social-slogan">Follow Us</span><!--end: social slogan-->
         
         <div class="social-nav">
            <ul>
               <li><a href="http://twitter.com/#!/dgateway" target="_blank">twitter</a></li>
               <li><a href="https://www.facebook.com/pages/Development-Gateway/104900753640?ref=ts" target="_blank">facebook</a></li>
               <li><a href="http://www.developmentgateway.org/rss/news" target="_blank">rss</a></li>
               <li><a href="mailto:info@developmentgateway.org" target="_blank">email</a></li>
            </ul>
       
         </div>   
         <!--end: social icons-->


         
         </div>
        
      </div>
      <!--end: footer-->




   </body>
</html>