<!doctype html>
<!--[if IE 8 ]> <html class="no-js ie8 lt-ie9"  lang="ro" dir="ltr" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<!--<![endif]-->
<head>
<meta charset="UTF-8">
<title>Footer Nav</title>
<link rel="stylesheet" type="text/css" href="../_less/styles.css"/>
<script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
</head>
<body>
<div id="l-footer">
	<div class="l-content-wrapper">
		<div class="footer-nav">
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Privacy & Terms</a></li>
			</ul>
			<div class="copyright">
				2015 Development Gateway and/or its affiliated companies
			</div>
		</div>
		<!--end: footer nav-->
		<div class="footer-logo">
			<a href="/" title="visit the main page" rel="home">
			<img src="../images/logo-color.svg" alt="Development Gateway">
			</a>
		</div>
		<!--end: footer logo-->
	</div>
	<!--end: footer content wrapper-->
</div>
<!--end: footer-->
</body>
</html>