
<header role="banner" class="main-header">
  <div class="main-header-inner clearfix">
    <h1 class="site-name">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>

    <nav role="navigation" class="main-navigation">
      <ul class="links clearfix">
      {% assign pages = site.pages | sort: 'weight'  %}
      {% for page in pages %}
        {% if page.title %}
        <li class="item">
          <a class="link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </nav>

  </div>
</header>
