
<div class="map-wrapper clearfix">
  <div id="map-element" style="height:300px"></div>
</div>

<script>
  var map = L.map('map-element').setView([14.505, -86.09], 3);
  L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org/">OpenStreetMap</a> contributors' +
      ', <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>' +
      ', Imagery © <a href="http://mapbox.com/">Mapbox</a>',
    id: 'examples.map-i875mjb7'
  }).addTo(map);
</script>
