{% assign countries = site.data.countries-africa %}
{% assign countries = countries | concat: site.data.countries-americas %}
{% assign countries = countries | concat: site.data.countries-asia %}
{% assign countries = countries | concat: site.data.countries-europe %}

<div class="map-wrapper clearfix">
  <div
    id="reach-map"
    class="map"
    data-tiles="{{ site.map.tiles }}"
    data-min-zoom="{{ site.map.minZoom }}"
    data-max-zoom="{{ site.map.maxZoom }}">
    <div class="map-inset vertical-position">
      <div class="map-inset page-content-inner">
        <div class="map-inset text">
          <h1>Six Continents | One Goal</h1>
          <p class="help">Rollover selected locations for information on select partnerships, case studies, and more.</p>
        </div>
      </div>
    </div>
  </div>

  <ul class="reach-data">
    {% for country in countries %}
      {% if country.lat and country.lon %}
        <!-- maybe create a liquid template filter to generate data- props -->
        <li
          class="reach-map-data"
          data-country="{{ country.country }}"
          data-id="{{ country.id }}"
          data-lat="{{ country.lat }}"
          data-lon="{{ country.lon }}"
          data-year="{{ country.year }}"
          data-project="{{ country.project }}"
          data-description="{{ country.description }}"
          data-quote="{{ country.quote }}"
          data-quoteAuthor="{{ country.quoteAuthor }}"
          data-url="{{ country.url }}"
          data-region="{{ country.region }}">
          <a href="#{{ country.id }}">{{ country.country }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
