
{% multicols clearfix %}

{% for partner in site.data.partners.coalitions %}
{% if partner.id contains 'wm' %}
<a href="{{partner.url}}" target="_blank">
<img role="img" src="{{ site.url }}/images/partners/{{ partner.logo }}" alt="{{ partner.partner }} logo" class="logo">
</a>
{{ partner.description }}
{% endif %}
{% endfor %}

<--colbreak-->

{% for partner in site.data.partners.coalitions %}
{% if partner.id contains 'ogh' %}
<a href="{{partner.url}}" target="_blank">
<img role="img" src="{{ site.url }}/images/partners/{{ partner.logo }}" alt="{{ partner.partner }} logo" class="logo">
</a>
{{ partner.description }}
{% endif %}
{% endfor %}

<--colbreak-->

{% for partner in site.data.partners.coalitions %}
{% if partner.id contains 'fbl' %}
<a href="{{partner.url}}" target="_blank">
<img role="img" src="{{ site.url }}/images/partners/{{ partner.logo }}" alt="{{ partner.partner }} logo" class="logo">
</a>
{{ partner.description }}
{% endif %}
{% endfor %}

{% endmulticols %}
