<!--partner with us form-->
<div class="contact-form">
<form method="post">

    <div class="form-group">
      <input id="fname" name="name" type="text" placeholder="First Name" class="input-text">
    </div>
    <div class="form-group">
      <input id="lname" name="name" type="text" placeholder="Last Name" class="input-text">
    </div>

    <div class="form-group">
      <input id="email" name="email" type="text" placeholder="Email Address" class="input-text">
    </div>

    <div class="form-group">
      <textarea id="message" name="message" placeholder="Interest area" rows="7"></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-submit"><span class="fa fa-chevron-circle-right"></span>Submit</button>
    </div>
</form>
</div>
