<!doctype html>
<!--[if IE 8 ]> <html class="no-js ie8 lt-ie9"  lang="ro" dir="ltr" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<!--<![endif]-->
<head>
<meta charset="UTF-8">
<title>Reach Page Project Content</title>
<link rel="stylesheet" type="text/css" href="../_less/styles.css"/>
<script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
</head>
<body>
<div class="l-content-wrapper">
	<div class="content-group content-side">
		<img src="../images/reach-globe.png">
	</div>
	<div class="content-group content-main">
		<div class="project-wrapper">
			<h3 class="project-country">
			<span class="project-country-flag">
			<img src="../images/country-flags/haiti.svg">
			</span>
			Haiti - 2009
			<h3>
			<h4>Aid Management Program</h4>
			<p>
				Haiti's AMP public portal launched in 2013 and continues to serve as a critical tool for governments, donors, and citizens during reconstruction efforts following the catastrophic 2010 earthquake.
			</p>
			<ul>
				<li>Responsive Innovation</li>
				<li>Custom module tracks damage reports and donor pledges</li>
			</ul>
			<p>
				It harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus
			</p>
			<a class="readmore">Read more</a>
		</div>
		<!-- end: project wrapper-->
	</div>
</div>
<!-- end: main page content wrapper-->
</body>
</html>