<html>
<head>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "b9cfa139-7db9-4558-b1b3-ab2013772adc", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>

<body>
<span class="social-share-wrapper">
  <span class='st_facebook_large' displayText='Facebook'></span>
  <span class='st_twitter_large' displayText='Tweet'></span>
  <span class='st_linkedin_large' displayText='LinkedIn'></span>
  <span class='st_email_large' displayText='Email'></span>
  <span class='st_googleplus_large' displayText='Google +'></span>
  <span class="post"></span>
</body>

</html>
