<div class="footer-social">
    <div class="main-footer-inner clearfix">

  <div class="social-nav-container">
  <span class="social-slogan">Follow Us</span>

    <ul class="social-nav">

      <li><a href="http://twitter.com/#!/dgateway" target="_blank">
        <span class="fa fa-twitter fa-border"></span></a>
      </li>

      <li><a href="https://www.facebook.com/pages/Development-Gateway/104900753640?ref=ts" target="_blank">
        <span class="fa fa-facebook fa-border"></span></a>
      </li>

      <li><a href="http://www.developmentgateway.org/rss/news" target="_blank">
        <span class="fa fa-rss fa-border"></span>
      </a></li>

      <li><a href="mailto:info@developmentgateway.org" target="_blank">
        <span class="fa fa-envelope fa-border"></span>
      </a></li>

    </ul>
    </div>
  </div>
</div>
