
{% if site.mailchimp_form_url == '__NONE__' %}
  {% assign form_url = '#' %}
{% else %}
  {% assign form_url = site.mailchimp_form_url %}
{% endif %}

<form action="{{ form_url }}" method="post" name="mc-embedded-subscribe-form"
      class="subscribe-form inline-form">
  {% stripwhitespace %}
  <div class="form-item">
    <input type="email" name="EMAIL" title="email@example.com"
           placeholder="E-mail address" class="form-text" maxlength="128">
  </div>
  <div class="form-item">
    <button type="submit" class="form-submit" value="" name="subscribe">
      <span class="fa fa-chevron-circle-right"></span>
      <span>Subscribe</span>
    </button>
  </div>
  {% endstripwhitespace %}
</form>
