<!doctype html>
<!--[if IE 8 ]> <html class="no-js ie8 lt-ie9"  lang="ro" dir="ltr" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<!--<![endif]-->
<head>
<meta charset="UTF-8">
<title>Page Intro Section</title>
<link rel="stylesheet" type="text/css" href="../_less/styles.css"/>
<script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
</head>
<body>
<div class="l-content-wrapper">
	<div class="blog-story-wrapper">

		<div class="blog-thumbnail-img">
			<a href="#"><img src="../images/box-blog-thumbnail.png"></a>
		</div>

		<h4 class="blog-post-title">
		<a href="#">Lorem ipsum dolor sit amet
consectetur adipiscing elit.</a>
		</h4>

		<div class="blog-post-summary">
			<p>
				Donec augue enim, lobortis sed nunc in, 
imperdiet semper arcu. Pellentesque habitant morbi tristique senectus et netus et malesu ada fames ac turpis egestas.
			</p>

		</div>



	</div>

</div>
<!-- end: main page content wrapper-->
</body>
</html>