---
layout: page
title: Connect
title_summary: because you can contribute to a better tomorrow
page_navigation:
  - { id: connect, title: Connect }
  - { id: join, title: Join }
  - { id: contact, title: Contact }
permalink: /connect/
weight: 10
---

<section id="connect" class="page-section">
  <h2>Connect</h2>

  {% multicols half | render-as-html %}

    <h3 class="highlighted-title">Learn The Latest</h3>
    <p>Subscribe to new updates</p>
    {% include subscribe-form.html class='form--inline' %}

  <--colbreak-->

    <h3 class="highlighted-title">Follow Us</h3>
    <p>Stay connected and learn the latest from Development Gateway</p>
    {% include widgets/follow-links.html class="content-social-nav" %}

  {% endmulticols %}
</section>

<section id="join" class="page-section">
  <h2>Join</h2>
  <h3 class="highlighted-title">Current Job Openings</h3>
  <p>Become a member of a creative, dynamic, and international team that values hard work, innovative thinking, and a great sense of humor. We seek highly motivated people who are committed to our core values.</p>

  <ul class="columns-list columns-list--half">
    {% for career in site.data.careers %}
    <li class="entry">
      <a href="{{ career.file | prepend: site.url }}" target="_blank">
        {{ career.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>

<section id="contact" class="page-section">
  <h2>Contact</h2>

  {% include main/contact-info.html %}

  <p>For more information on Development Gateway or for press inquiries, please contact us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p>
</section>
