@import 'variables';
@import 'mixins';

.blog-story-wrapper {

  .border;
  border-color: @grey-lightest;
  padding: @space1;
  height: 24em;
  width: 18em;
  overflow: @hidden;

  .blog-thumbnail-image {
    img {
      width: @full;
      .opaque
    }

  }

  a {
    color: #000
  }
  &:hover {
    .transition;
    .semi-transparent
  }

  // We may need to trim the title to 2 lines
  h4.blog-post-title a {
    color: @blue-vibrant;
    font-size: @large;
    .light;
    &:hover {
      color: @orange;
      .transition;
    }
  }

  // Need to trim the summary length
  .blog-post-summary {
    font-size: @small;
  }

  .blog-post-date {
    color: @black;
    font-size: @smaller;
  }

}
