---
layout: page
title: Blog
title_summary: because solutions should be shared
meta_description: The latest news and events from the technology, post-2015, open data, and open government space.
weight: 8
---

<div class="blog-page-wrapper page-layout-element clearfix">

  <div class="blog-main-column-wrapper blog-listing-wrapper">
    <section role="main" class="page-section">
      <h2 class="element-invisible">Blog posts listing</h2>
      {% for blog_post in paginator.posts %}
        {% include widgets/blog-teaser.html post=blog_post %}
      {% endfor %}

      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
        {% endif %}

        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% endif %}
      </div>
    </section>
  </div>

  <section class="blog-sidebar-wrapper">
    <div class="blog-sidebar">
      {% include main/blog-sidebar.html %}
    </div>
  </section>

</div>
