
html {
  // Always show page scrollbar to prevent side-movement when hovering over
  // items that are extending their height.
  overflow-y: scroll;
}

body,
html {
  background: $white;
  color: $default_text;
  font-family: $font_stack_default;
  font-weight: $font_weight_light;
}

.main-content {
  background-color: $white;
}

// Vertical space between the page content and the footer.
.page-content {
  padding-bottom: 3em;
  padding-top: 3em;
}

.page-section {
  padding-bottom: 2em;

  @include media-query-max($bp_small) {
    padding-bottom: 1em;
  }
}

/**
 * Fixes the issue with contained floating elements that do not force the container's height.
 */
.clearfix {
  @include clearfix-mixin;
}

/**
 * Set the style for a 2 column CSS Media Object, first column is optional.
 */
@include media-query-min($bp_small) {
  .mobject {
    position: relative;
    .group-side {
      display: block;
      float: left;
      margin-right: 1em;
    }
    .group-main {
      display: table-cell;
      width: 500em;
    }
  }
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
.element-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
}

/**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  @include display-invisible-element();
}

/**
 * Style the accessibility "Skip to main content" link.
 */
#skip-link {
  $block_width: 20em;
  left: 50%;
  margin-left: -1 * $block_width / 2;
  position: absolute;
  text-align: center;
  width: $block_width;
  z-index: 15;
  a {
    background: $blue_light;
    display: block;
    padding: 1em;
    text-decoration: none;
  }
}

// headings
h1,
h2,
h3 {
  font-weight: $font_weight_light;
  a {
    @include transition(color,500ms);
  }
}

h2 {
  color: $default_text;
  font-size: $largest;
}

h3 {
  font-size: $larger;
  color: $default_text;
}

// @TODO: REMOVE!!!
.blue{
 color: $blue_deep;
}

.blue-vibrant {
  color: $blue_vibrant;
}

.grey{
 color: $grey_light;
}
