<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  {% comment %}
  <!-- NOTE: If the site.baseurl changes, you will need to manually update manifest.json and browserconfig.xml -->
  {% endcomment %}
  <link rel="apple-touch-icon" sizes="57x57" href="{{ '/images/favicons/apple-icon-57x57.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ '/images/favicons/apple-icon-60x60.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ '/images/favicons/apple-icon-72x72.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ '/images/favicons/apple-icon-76x76.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ '/images/favicons/apple-icon-114x114.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ '/images/favicons/apple-icon-120x120.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ '/images/favicons/apple-icon-144x144.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ '/images/favicons/apple-icon-152x152.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/favicons/apple-icon-180x180.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ '/images/favicons/android-icon-192x192.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicons/favicon-32x32.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ '/images/favicons/favicon-96x96.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicons/favicon-16x16.png' | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ '/images/favicons/manifest.json' | prepend: site.baseurl }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ '/images/favicons/ms-icon-144x144.png' | prepend: site.baseurl }}">
  <meta name="theme-color" content="#ffffff">

  {% comment %}
  <!-- @TODO: Fix! -->
  <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.url }}">
  {% endcomment %}

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ '/lib/font-awesome/font-awesome.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/lib/normalize/normalize.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/styles/main.css' | prepend: site.baseurl }}">

  <script src="{{ '/main.js' | prepend: site.baseurl }}"></script>

  <script src="{{ '/scripts/scroll.js' | prepend: site.baseurl }}" defer="defer"></script>

  {% if page.include_map %}
    <link rel="stylesheet" href="{{ '/lib/leaflet/leaflet.css' | prepend: site.baseurl }}" />
    <script src="{{ '/lib/leaflet/leaflet.js' | prepend: site.baseurl }}" defer="defer"></script>
    <script src="{{ '/scripts/reach-map.js' | prepend: site.baseurl }}" defer="defer"></script>
  {% endif %}

  {% if page.one_pager_data %}
    <meta name="robots" content="noindex,follow">
  {% endif %}

  {% comment %}
  <!-- @TODO: Enable when the scrolling has been fixed. -->
  <script src="{{ '/scripts/header-drop-down.js' | prepend: site.baseurl }}" defer="defer"></script>
  {% endcomment %}

  <script>
    (function(window, document) {

      /**
       * Register callbacks to fire on some event, or fire immediately if that event has happened
       */
      function queueForEvent(what, eventName) {
        var happened = false,
            queue = [];

        what.addEventListener(eventName, function() {
          happened = true;
          for (var i = 0; i < queue.length; i++) {
            queue[i]();
          }
          queue = null;
        });

        return function(cb) {
          if (typeof cb !== 'function') {
            console.error('Callback for ' + eventName + 'must be a function. Got', cb);
          }
          happened ? cb() : queue.push(cb);
        }
      }

      var DG = {
        // An URL pointing to the root of the site.
        baseUrl: '{{ site.baseurl  | prepend: site.url}}',

        // Load script and execute the callback function upon success.
        _loadedScripts: [],
        loadScript: function(src, callback) {
          // NOTE: Make sure the callback can be executed multiple times.
          if (typeof callback === 'function' && this._loadedScripts.indexOf(src) != -1) {
            callback();
            return;
          }

          var script = document.createElement('script');
          document.body.appendChild(script);

          if (typeof callback === 'function') {
            script.onload = callback;
          }

          script.src = src;
          this._loadedScripts.push(src);
        },

        // Define breakpoints matching those in SASS.
        // @TODO: Have these generated by SASS.
        gen_column_width: 4,
        gen_gutter_width: 1,
        _column_width: this.gen_column_width + this.gen_gutter_width,
        base_font_size: 16,
        breakPointsList: {
          bp_small: ((this._column_width * 8) + 4) * this.base_font_size,
          bp_medium: ((this._column_width * 12) + 6) * this.base_font_size,
          bp_large: ((this._column_width * 16) + 8) * this.base_font_size
        },

        breakPoints: function(point) {
          if (point && this.breakPointsList.hasOwnProperty(point)) {
            return this.breakPointsList[point];
          }

          throw new Error('Breakpoint not found.');
        },

        fixedHeaderHeight: 0,  // computed on DOM ready

        ready: queueForEvent(document, 'DOMContentLoaded'),
        load: queueForEvent(window, 'load'),
        resize: function(cb) { window.addEventListener('scroll', cb); }
      };

      // export DG to global
      window.DG = DG;
    })(window, document);


    DG.ready(function computeFixedHeaderHeight() {
      var mainHeader = document.querySelector('.main-header-inner'),
          sticky = document.querySelector('#page-navigation'),
          totalHeight = 0;
      if (mainHeader !== null) {
        totalHeight += mainHeader.offsetHeight;
      }
      if (sticky != null) {
        totalHeight +=  sticky.offsetHeight;
      }
      DG.fixedHeaderHeight = totalHeight;
    });

    DG.ready(function setSmoothscrollHeaderHeight() {
      window.smoothScrollTo.setHeader(DG.fixedHeaderHeight);
    });
  </script>
</head>
