
{% stripwhitespace %}
<ul class="follow-links {{ include.class }}">
  <li class="item">
    <a class="link" href="https://twitter.com/dgateway" target="_blank">
      <span class="fa fa-twitter"></span>
    </a>
  </li>

  <li class="item">
    <a class="link" href="https://www.facebook.com/pages/Development-Gateway/104900753640" target="_blank">
      <span class="fa fa-facebook"></span>
    </a>
  </li>

  <li class="item">
    <a class="link" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" target="_blank">
      <span class="fa fa-rss"></span>
    </a>
  </li>

  <li class="item">
    <a class="link" href="{{ site.contact }}" target="_blank">
      <span class="fa fa-envelope"></span>
    </a>
  </li>
</ul>
{% endstripwhitespace %}
