
<div class="map-wrapper clearfix">
  <div
    id="reach-map"
    class="map"
    data-tiles="{{ site.map.tiles }}"
    data-min-zoom="{{ site.map.minZoom }}"
    data-max-zoom="{{ site.map.maxZoom }}">
    <div class="map-inset-text">
      <h1>Six Continents | One Goal</h1>
      <p class="help">Rollover selected locations for information on select partnerships, case studies, and more.</p>
    </div>
  </div>

  <ul class="reach-data">
    {% assign regions = 'africa,asia,europe,americas' | split: ',' %}
    {% for region in regions %}{% for project in site.data.projects[region] %}
      {% if project.lat and project.lon %}
        <!-- maybe create a liquid template filter to generate data- props -->
        <li
          class="reach-map-data"
          data-name="{{ project.name }}"
          data-id="{{ project.id }}"
          data-lat="{{ project.lat }}"
          data-lon="{{ project.lon }}"
          data-year="{{ project.year }}"
          data-category="{{ project.category }}"
          data-description="{{ project.description }}"
          data-quote="{{ project.quote }}"
          data-quoteAuthor="{{ project.quoteAuthor }}"
          data-url="{{ project.url }}"
          data-region="{{ project.region }}">
          <a href="#{{ project.id }}">{{ project.name }}</a>
        </li>
      {% endif %}
    {% endfor %}{% endfor %}
  </ul>
</div>
