
{% assign search_form_id = include.id %}
<form action="#" method="get" id="{{ search_form_id }}" class="search-form">
  <div class="form-item">
    <input type="text" name="q" class="form-text search-query"
           autocomplete="off" placeholder="Search">
  </div>
</form>

<section id="{{ search_form_id }}--results-wrapper" class="search-results-wrapper">
  <div class="search-info">
    <h2>Search Results</h2>
  </div>
  <div class="{{ search_form_id }}--entries">
    {% include widgets/search-results-template.html id=search_form_id %}
  </div>
</section>

<script>
  // Initialize lunr.js search.
  var initLunrSearch = function() {
    jQuery('.search-query:not(.lunr-processed)', '#{{ search_form_id }}').lunrSearch({
      indexUrl: DG.baseUrl + 'scripts/index.json',
      results: '#{{ search_form_id }}--results-wrapper',
      entries: '.{{ search_form_id }}--entries',
      template: '#{{ search_form_id }}--results-template'
    }).addClass('lunr-processed');
  };
</script>

{% if search_form_id == 'main-search-form' %}
<script>
  // Initialize lunr.js search once the requirements were loaded.
  DG.loadScript(DG.baseUrl + 'scripts/search.min.js', initLunrSearch);
</script>
{% endif %}
