
{% stripwhitespace %}
{% assign post = include.post %}
<article class="blog-entry--alternative">
  {% if post.thumbnail %}
  <div class="blog-image-wrapper">
    {% image thumb_home {{ post.thumbnail | prepend: site.baseurl }} alt="{{ post.thumbnail-alt }}" %}
  </div>
  {% endif %}

  <div class="blog-info">
    <h3 class="blog-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>

    <div class="blog-excerpt">{{ post.excerpt | markdownify }}</div>

    <p class="blog-date">{{ post.date | date: '%B %d, %Y' }}</p>
  </div>
</article>
{% endstripwhitespace %}
