
<div class="team-member {{ include.class }} clearfix">
  <div class="photo group-side">
    {% image avatar-small {{ include.member.avatar | prepend: 'images/team/' | prepend: site.baseurl }} title="avatar" %}
  </div>
  <div class="info group-main">
    <div class="name">{{ include.member.name }}</div>

    {% if include.member.position %}
      <div class="position">{{ include.member.position }}</div>
    {% endif %}

    {% if include.member.bio %}
      <div class="bio">{{ include.member.bio | markdownify }}</div>
    {% endif %}
  </div>
</div>
