---
layout: page
title: Blog
title_summary: because solutions should be shared
weight: 8
include_share_widgets: True
---

<div class="blog-listing-wrapper">
  <ul class="blog-listing">
    {% for post in site.posts %}
    <li class="blog-entry">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

      <span class="post-meta">
        <span class="post-date">
          <span class="fa fa-calendar"></span>{{ post.date | date: '%B %d, %Y' }}
        </span>
        <span class="post-author">
          <span class="fa fa-user"></span>{{ post.author}}</span>
        <span class="post-categories">{{ post.categories }}</span>
      </span>

      <span class="post-thumbnail-col">
        <span class="post-thumbnail">
          <img src="{{site.url}}/{{post.thumbnail}}" alt="">
        </span>
      </span>

      <span class="post-excerpt-col">
        <span class="post-excerpt">{{ post.excerpt }}</span>
        <a class="readmore" href="{{ post.url }}">Continue reading</a>
        {% include social-sharing.html %}
      </span>

    </li>
    {% endfor %}
  </ul>
</div>

<div class="blog-sidebar-wrapper">
</div>
