---
layout: page
title: Our Reach
title_summary: because everyone should have access
permalink: /reach/
weight: 3
nav_data: reach
include_map: True
---

{% assign regions = 'africa,asia,europe,americas' | split: ',' %}

{% for region in regions %}
<div class="region-wrapper region-{{ region }}">
  <h2 id="region-{{ region }}">
    {% if region == 'americas' %}The{% endif %}
    {{ region | capitalize }}
  </h2>

  {% multicols clearfix | render-as-html %}

  <img src="/images/other/globe-location-{{ region }}.png" alt="reach location {{ region }}">

  <--colbreak-->

  {% for project in site.data.projects[region] %}
  <div id="{{ project.id }}" class="project-wrapper clearfix">

    <h3 class="title">
      <img class="flag" role="img" src="{{ site.url }}/images/projects/{{ project.id }}.svg" alt="Flag of {{ project.name }}">
      {{ project.name }}
      <span> – {{project.year}}</span>
    </h3>

    <div class="category">{{ project.category }}</div>
    <p>{{ project.description }}</p>

    <ul class="features">
      {% for feature in project.features %}
      <li>{{ feature }}</li>
      {% endfor %}
    </ul>

    {% if project.quote %}
    <blockquote class="project-quote">
      <p>{{ project.quote }}</p>
    </blockquote>
    {% endif %}

    {% if project.url %}
      <a class="readmore" href="{{ project.url }}">Learn more</a>
    {% endif %}
  </div>
  {% endfor %}

  {% endmulticols %}
</div>
{% endfor %}
