---
layout: page
title: Our Reach
title_summary: because everyone should have access
weight: 3
nav_data: site.data.locations
include_map: True
---

<!--start: africa region-->
<div class="region-wrapper">
  <h2 id="africa">Africa</h2>
  {% multicols pageintro clearfix %}
  <img src="/images/other/globe-location-africa.png" alt="reach location africa">
  <--colbreak-->

  {% for country in site.data.countries-africa %}


  <img class="flag" src="{{site.url}}/images/country-flags/{{country.flag}}">
  <h3>{{country.country}}<span>-{{country.year}}</span></h3>
  <div class="program-category">{{country.project}}</div>
  <p>{{country.description}}</p>
  <ul>
    <li>{{country.feature1}}</li>
    <li>{{country.feature2}}</li>
  </ul>
  <blockquote class="country-quote">
    {{country.quote}}
  </blockquote>
  {% endfor %}


  <a class="readmore" href="{{country.url}}">Learn more</a>

  {% endmulticols %}

</div>
<!--end: africa region-wrapper-->





<!--start: asia region-->
<div class="region-wrapper">
  <h2 id="asia">Asia</h2>
  {% multicols pageintro clearfix %}
  <img src="/images/other/globe-location-asia.png" alt="reach location asia">
  <--colbreak-->

  {% for country in site.data.countries-asia %}

  <img class="flag" src="{{site.url}}/images/country-flags/{{country.flag}}">

  <h3>{{country.country}}<span>-{{country.year}}</span></h3>

  <div class="program-category">{{country.project}}</div>
  <p>{{country.description}}</p>

  <ul>
    <li>{{country.feature1}}</li>
    <li>{{country.feature2}}</li>
  </ul>
  {% endfor %}

  <div class="quote">
    {{country.quote}}
  </div>

  <a class="readmore" href="{{country.url}}">Learn more</a>
  {% endmulticols %}

</div>
<!--end: asia region-wrapper-->




<!--start: europe region-->
<div class="region-wrapper">
  <h2 id="europe">Europe</h2>
  {% multicols pageintro clearfix %}
  <img src="/images/other/globe-location-europe.png" alt="reach location europe">
  <--colbreak-->

  {% for country in site.data.countries-europe %}

  <img class="flag" src="{{site.url}}/images/country-flags/{{country.flag}}">

  <h3>{{country.country}}<span>-{{country.year}}</span></h3>

  <div class="program-category">{{country.project}}</div>
  <p>{{country.description}}</p>

  <ul>
    <li>{{country.feature1}}</li>
    <li>{{country.feature2}}</li>
  </ul>
  {% endfor %}

  <div class="quote">
    {{country.quote}}
  </div>

  <a class="readmore" href="{{country.url}}">Learn more</a>

  {% endmulticols %}

</div>
<!--end: europe region-wrapper-->






<!--start: africa region-->
<div class="region-wrapper">
  <h2 id="the-americas">The Americas</h2>
  {% multicols pageintro clearfix %}
  <img src="/images/other/globe-location-americas.png" alt="reach location americas">
  <--colbreak-->

  {% for country in site.data.countries-americas %}

  <img class="flag" src="{{site.url}}/images/country-flags/{{country.flag}}">

  <h3>{{country.country}}<span>-{{country.year}}</span></h3>

  <div class="program-category">{{country.project}}</div>
  <p>{{country.description}}</p>

  <ul>
    <li>{{country.feature1}}</li>
    <li>{{country.feature2}}</li>
  </ul>
  {% endfor %}

  <div class="quote">
    {{country.quote}}
  </div>

  <a class="readmore" href="{{country.url}}">Learn more</a>
  {% endmulticols %}

</div>
<!--end: americas region-wrapper-->
