
html,
body {
  background-color: $footer_bg;
}

a {
  @include link-color($blue_vibrant)
}

blockquote {
  background: lighten($grey_lightest, 7%);
  display: block;
  font-size: $large;
  font-style: italic;
  margin: 1em 0;
  padding: 1em 1em 1em 3.5em;
  position: relative;
  &:before {
    color: $grey_lightest;
    content: "\201C";
    display: block;
    font-family: $font_stack_alt;
    font-size: $largest*3;
    left: 0.05em;
    position: absolute;
    top: -0.1em;
    @include media-query-max($bp_medium) {
      padding: 0.5em 0;
    }
  }
}

cite {
  color: $black;
  display: block;
  font-size: $small;
  margin-top: 0.5em;
  &:before {
    content: "\2014 \2009";
  }
}

// @TODO: Cleanup this section.
.highlighted-title {
  color: $green_lime;
}
.intro-title{
  margin-top: 2em;
}

// General logo images hover effect.
.logo {
  @include transition(opacity);
  opacity: 1;
  &:hover {
    opacity: 0.8;
  }
}

.page-banner {
  border: 1px solid $grey_lightest;
  margin-bottom:$map_bottom_padding;
  margin-top:$map_bottom_padding;
}

.page-intro {
  .column {
    @include media-query-max($bp_small) {
      &:first-child {
        text-align: center;
      }
    }
  }
}

// @TODO: Cleanup!
.section-topic {
  margin-top: 8em;
  margin-bottom: 3em;
}
.post-header-inner{
  .title {
    font-weight:$font_weight_light;
  }
}
.blog-post-wrapper {
  padding-bottom: 3em;
}

.leaflet-top,
.leaflet-bottom {
  // Fix Leaflet controls stacking order (we don't need z-index: 1000).
  z-index: 9 !important;
}

// @TODO: Check if this should be moved onto `.columns-list`.
.consultants-list {
  .entry {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
