
// Color variables.
$blue_light: #b8d9fe;
$blue_deep: #005695;
$blue_medium: #0588cb;
$blue_vibrant: #1595d3;
$yellow: #ffde00;

$footer_bg: #082133;
$footer_social_bg: #041724;

$default_text: #7c7c7c;
$grey_lightest: #e7e7e7;
$grey_light: #a7a7a7;
$grey_dark: #333333;

$green_deep: #00734a;
$green_lime: #95c369;
$orange: #e2aa14;
$red_dark: #880000;

// We don't want any color string in the SCSS files.
$white: #ffffff;
$black: #000000;

// Font variables.
$font_stack_default: 'Open Sans', 'sans-serif';
$font_stack_alt: 'Georgia', 'serif';
$font_weight_light: 300;

// Text Sizes.
$smaller: 0.75em;
$small: 0.875em;
$large: 1.125rem;
$larger: 1.5em;
$largest: 2.125em;

// Grid Settings.
$gen_total_columns: 12;
$gen_column_width: 4em;
$gen_gutter_width: 1em;
$sidebar_grid_count: 3;
$content_grid_count: 9;

// Map settings
$country_marker_size: 2rem;
$map_side_padding: 3rem;
$map_bottom_padding: 3.5rem;
