
// Color variables.
$blue_light: #b8d9fe;
$blue_deep: #005695;
$blue_medium: #0588cb;
$blue_vibrant: #1595d3;
$highlight_text: #ffde00;

$header_logo: #014681;
$header_background: #9b9b9b;

$footer_bg: #082133;
$footer_social_bg: #041724;

$default_text: #7c7c7c;
$grey_light: #a7a7a7;
$grey_medium: #d5d5d5;
$grey_lightest: #e7e7e7;
$grey_dark: #333333;

$green_deep: #00734a;
$green_lime: #95c369;
$orange: #e2aa14;
$red_dark: #880000;

// We don't want any color string in the SCSS files.
$white: #ffffff;
$black: #000000;

// Font variables.
$font_stack_default: 'Open Sans', 'sans-serif';
$font_stack_alt: 'Georgia', 'serif';
$font_weight_light: 300; // The lowest font weight available for `Open Sans`.

// Text Sizes.
$smaller: 0.75em;
$small: 0.875em;
$large: 1.125em;
$larger: 1.5em;
$largest: 2.125em;

// Map settings
$country_marker_size: 2rem;
$map_side_padding: 3rem;
$map_bottom_padding: 3.5rem;

// Grid Settings.
$gen_total_columns: string_to_number($gen_total_columns_string);
$gen_column_width: string_to_number($gen_column_width_string);
$gen_gutter_width: string_to_number($gen_gutter_width_string);
$sidebar_grid_count: string_to_number($sidebar_grid_count_string);
$content_grid_count: string_to_number($content_grid_count_string);

// Define breakpoints.
$bp_small: (($gen_column_width + $gen_gutter_width) * 8) + 4em;
$bp_medium: (($gen_column_width + $gen_gutter_width) * 12) + 6em;
$bp_large: (($gen_column_width + $gen_gutter_width) * 16) + 8em;
