
.main-footer {
  background-color: $footer_bg;
}

.footer-info-wrapper {
  @include media-query-max($bp_medium) {
    padding: 1em 0;
  }

  @include media-query-min($bp_medium) {
    padding: 2em 0;
  }

  .footer-copyright {
    color: $grey_light;
    font-size: $small;
  }

  .footer-logo {
    font-size: 2em;
    img {
      height: 2em;
    }

    @include media-query-max($bp_small) {
      // Hide footer logo on small devices.
      display: none;
    }
  }
}

@include media-query-min($bp_small) {
  .footer-info-inner {
    display: table;
  }

  .footer-items,
  .footer-logo {
    display: table-cell;
    vertical-align: middle;
  }

  .footer-logo {
    text-align: right;
  }
}

.footer-social-wrapper {
  background: darken($blue_deep, 22%);

  @include media-query-min($bp_small) {
    padding: 2em 0;
    text-align: right;
  }

  .social-slogan {
    color: $white;
    font-weight: $font_weight_light;
    line-height: 1.50em;
    margin-right: 1em;

    @include media-query-max($bp_small) {
      width: 100%;
      @include clearfix_mixin;
      display: block;
    }
    @include media-query-min($bp_small) {
      font-size: $largest;
    }
  }
}

.footer-navigation {
  /*ul*/.links {
    list-style-type: none;
    margin: 0;
    padding: 0.5em 0;

    // Display horizontal scroll bars on small devices.
    @include media-query-max($bp_small) {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    }
  }

  li {
    display: inline-block;
    border-right: 1px solid $blue_vibrant;

    &:last-child {
      border-right: none;
    }
  }

  a {
    color: $blue_vibrant;
    margin: 0 0.5em;
    padding: 0 0.5em;

    &:hover {
      color: $highlight_text;
    }
  }

  li:first-child {
    a {
      margin-left: 0;
      padding-left: 0;
    }
  }
}

// @TODO: Remove font-icons.
.follow-links {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;

  .item {
    display: inline-block;
    margin-left: 1em;

    &:first-child {
      margin-left: 0;
    }

    @include media-query-max($bp_small) {
      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  .link {
    @include transition(all);

    display: inline-block;
    font-size: 2em;
    line-height: 1.5em;
    padding: 0 0.25em;
    text-align: center;

    border: 1px solid darken($blue_vibrant, 30%);
    border-radius: 0.2em;
    color: $blue_vibrant;

    &:hover {
      color: $highlight_text;
      border-color: $blue_vibrant;
      background-color: $black;
    }
  }

  .fa {
    min-width: 1em;
  }
  .fa-envelope {
    vertical-align: 6%; // @HACK: Temporary vertical alignment.
  }

  @include media-query-max($bp_small) {
    text-align: center;
  }
}
