
.main-header {
  background: $grey_lightest;

  .site-name {
    margin: 0;

    @include media-query-min($bp_small) {
      float: left;
    }
  }
}

.main-header-inner {
  background: transparentize($grey_dark, 0.58);
}

.main-navigation {
  @include media-query-min($bp_small) {
    float: right;
  }

  // Style menu list.
  .links {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;

    // Display horizontal scroll bars on small devices.
    @include media-query-max($bp_small) {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    }
  }

  // Style menu list item.
  .item {
    color: $white;
    display: inline-block;
    text-align: right;
  }

  // Style menu link.
  .link {
    color: $white;
    display: inline-block;
    font-size: 0.75em;
    font-weight: normal;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $highlight_text;
      @include transition();
    }

    // Display horizontal scroll bars on small devices.
    @include media-query-max($bp_small) {
      line-height: 2em;
    }
    @include media-query-min($bp_small) {
      line-height: 5.333em;
    }
  }
}

.site-logo {
  @include media-query-max($bp_small) {
    height: 1em;
  }
  @include media-query-min($bp_small) {
    height: 2em;
  }
}

h1.site-name {
  @include transition;
  background: adjust_hue(saturate(darken($blue_vibrant, 20), 17), 8);
  padding-left: $gen_gutter_width;
  padding-right: $gen_gutter_width;

  &:hover {
    background: adjust_hue(saturate(darken($blue_vibrant, 30), 17), 8);
  }
}

// header search and social buttons
ul.btn-nav {
  display: block;
  float: left;

  li {
    float: left;
    display: inline-block;

    a {
      outline: none;
      .fa {
        padding: 0.83em;
        font-size: $larger;
        color: $white;
        @include transition;
      }
    }
  }

  li.btn-search {
    .fa {
      background: $blue_vibrant;
      &:hover {
        background: lighten($blue_vibrant, 10%);
      }
    }
  }

  li.btn-social {
    margin-left: -1px;
    .fa {
      background: $green_deep;
    }
  }
}
