

.main-header {
  background: $grey_lightest;
  .main-header-inner {
    background: transparentize($grey_dark, 0.58);
  }
}

.site-name {
  line-height: 1em; // Force vertical alignment.
  margin: 0;

  & > a {
    display: block;
    padding: 0 1em;
  }

  @include transition(background-color);
  background-color: $header_logo;
  &:hover {
    background-color: darken($header_logo, 10);
  }

  .site-logo {
    max-width: none;
    height: 2em;

    @include media-query-max($bp_small) {
      height: 1.5em;
    }
  }
}


// Header search and social buttons.
// ul.btn-nav {
//   display: block;
//   float: left;
//   margin: 0;
//   padding: 0;

//   li {
//     float: left;
//     display: inline-block;

//     a {
//       outline: none;
//       @include transition(color);
//       .fa {
//         padding: 0.83em;
//         font-size: $larger;
//         color: $white;
//       }
//     }
//   }

//   li.btn-search {
//     .fa {
//       background: $blue_vibrant;
//       &:hover {
//         background: lighten($blue_vibrant, 10%);
//       }
//     }
//   }

//   li.btn-social {
//     margin-left: -1px;
//     .fa {
//       background: $green_deep;
//     }
//   }
// }
