
.header-menu-link-wrapper {
  float: right;
  line-height: 3em;
  margin: 0 1em;
  @include media-query-min($bp_small) {
    display: none;
  }
}

.header-menu-link {
  @include link-color($white);

  background-color: $header_logo;
  border-radius: 0.25em;
  font-weight: normal;
  padding: 0.25em 1em;
}

.main-navigation {
  background: $header_background;
  color: $white;

  // Style menu list.
  .links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  // Style menu link.
  .link {
    @include transition(color);

    color: $white;
    display: inline-block;
    font-size: 0.8em;
    font-weight: normal;

    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $highlight_text;
    }
  }

  @include media-query-max($bp_small) {
    padding: 1em;

    .element-invisible {
      margin-top: 0;
      @include display-invisible-element();
    }
    .item {
      border-bottom: 1px solid $footer_bg;
      line-height: 2em;
      &:last-child {
        border-bottom: none;
      }
    }
    .link {
      display: block;
      padding-left: 1em;
    }
  }

  @include media-query-min($bp_small) {
    position: absolute;
    top: 0;
    right: 0;

    // Style menu list item.
    .item {
      color: $white;
      display: inline-block;
      margin: 0;
      text-align: right;
    }

    .link {
      margin: 0 0.4em;
      line-height: 5em;
    }
  }

  @include media-query-min($bp_medium) {
    .link {
      margin: 0 0.6em;
      padding: 0 0.4em;
    }
  }
}
