.blog-sidebar {
  margin-top: 2.7em;
  h3 {
    font-weight: $font_weight_light;
    color: $grey_dark;
  }
  //subscribe form styling specific to the sidebar
  .input-wrapper {
    width: 95%;
    float: none;
  }
  .input-text {
    width: 65%;
    @include transition(all);
    outline: none;
    &:focus {
      outline: none;
      border: 1px solid $blue_vibrant;
    }
  }
  .submit-wrapper {
    float: none;
    text-align: center;
  }
  .btn-submit {
    margin: $gen_gutter_width auto;
  }
  .form-item {
    margin: -0.5em 0.5em 1.5em 0;
  }
  .form-submit {
    padding: 0.4em 1em;
  }
}

// categories list
.categories-wrapper {
  clear: both;
  ul {
    list-style: none;
    padding-left: $gen_gutter_width;
  }
  li {
    font-size: $large;
  }
}

// tags list
.tags-wrapper {
  ul {
    list-style: none;
    padding-left: 1em;
  }
  li {
    display: inline-block;
    line-height: 2.5em;
    margin-right: 0.25em;
  }
  .tag-link {
    @include transition(background-color);
    @include transition(color);

    background-color: #eee;
    color: $grey_light;
    font-size: $large;
    padding: 0.3em 0.6em;

    &:hover {
      background-color: $blue_vibrant;
      color: $white;
    }
  }
}
