<!doctype html>
<!--[if IE 8 ]>
<html class="no-js ie8 lt-ie9" lang="ro" dir="ltr" xmlns:svg="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink">
   <![endif]-->
   <!--[if (gte IE 9)|!(IE)]><!-->
   <html xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!--<![endif]-->
      <head>
         <meta charset="UTF-8">
         <title>Blog Post-Single Post</title>
         <link rel="stylesheet" type="text/css" href="../less/styles.css"/>
         <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
      </head>
      <body>

        <!--start: temporary article wrapper-->
      <div style="width:45em">

         <article>
            <div class="blog-img">
               <img src="../images/blog-img.png" alt="">
            </div>
            <h2>Remittances – What’s Next?</h2>
            <div class="post-meta-information">
               <span class="meta author">
               <img src="../images/icon-author.svg" alt="">
               Paige Kirby </span>
               <span class="meta date">
               <img src="../images/icon-calendar.svg" alt="">
               3/2/2015 </span>
               <!--end: post author and date-->
            </div>
            <!--end: post date and author-->
            <div class="blog-content">
               <h3>Why do remittances matter?</h3>
               <p>
                  ODA has modestly increased over the past few decades; however, since the late 1990s officially recorded remittance flows have outpaced assistance – in 2013, by more than 300%. Remittances are sent by individuals, not governments, and often travel through money transfer companies such as Western Union and MoneyGram.
               </p>
               <p>
                  According to World Bank estimates, remittances are expected to total US $435 billion in 2014. With an average worldwide cost of sending remittances hovering around 8%, remittance processing is a nearly US $35 billion industry.
               </p>
               <h3>What do remittances have to do with poverty?</h3>
               <p>
                  According to IMF researchers, remittances are counter-cyclical – increasing during an economic downturn or natural disaster in the recipient country. Even when both sending and receiving countries experience economic downturns, remittances still increase. Unlike ODA, which continues to stagnate, remittances are a resilient financial resource. Even more good news? Remittances work! As primarily personal transactions, from migrants to friends and family, remittances tend to be well-targeted to recipients’ needs. Some studies have even shown remittances directly reducing the poverty ratio in low-income countries such as Bangladesh, Ghana, and Uganda.
               </p>
               <ul>
                  <li>displaying example of an undered list item</li>
                  <li>this is a second example of an unordered list item</li>
               </ul>
               <p>
                  This is the final paragraph.
               </p>
            </div>
            <!--end: blog content-->
         </article>


  </div><!--end: temporary article wrapper-->


      </body>
   </html>
