/**
 * @file
 * Special CSS classes to be used inside blog posts.
 *
 * TODO: Add information on how to use these classes.
 */

// Floats an image to the left or right of the text.
// Markdown Usage: add {:.post-image--left} (or right) before the image.
.post-image {
  // .post-image--left
  &--left {
    float: left;
    margin-bottom: 1em;
    margin-right: 1em;
  }
  // .post-image--right
  &--right {
    float: right;
    margin-bottom: 1em;
    margin-left: 1em;
  }

  &--left,
  &--right {
    max-width: 20em;
    text-align: center;

    @include media-query-max($bp_medium) {
      float: none;
    }
    @include media-query-min($bp_medium) {
      width: 20em;
    }
  }
}

// This class can be used to center align images and text.
// Usage: add {:.post-center} before the paragraph/image.
.post-center {
  text-align: center;
}
