<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en">
{% include main/head.html %}
<body class="{{ page.body_class }}">
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">
      Skip to main content
    </a>
  </div>

  {% if page.position_indicator %}
  <div class="position-indicator-wrapper">
    {% assign sorted_sections = site.homepage_sections | sort: 'weight' %}
    {% include widgets/position-indicator.html sections=sorted_sections %}
  </div>
  {% endif %}

  <div class="page-content-wrapper">
    {% include main/header.html %}

    <div id="main-content" class="main-content clearfix">
      {{ content }}
    </div>

    <div class="footer-main-navigation-wrapper">
      {% include main/navigation.html id="main-navigation" class="footer-main-navigation" %}
    </div>
    {% include main/footer.html %}
  </div>

  {% include widgets/analytics.html %}

</body>
</html>
