<!DOCTYPE html>
<!-- @see http://www.paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither -->
<!--[if IE 8 ]> <html class="no-js ie8 lt-ie9"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
{% include main/head.html %}
<body>
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">
      Skip to main content
    </a>
  </div>

  <div class="page-wrapper">
    {% include main/header.html %}

    <div role="main" id="main-content" class="main-content clearfix">
      {{ content }}
    </div>

    {% include main/footer.html %}
  </div>
</body>
</html>
