<!DOCTYPE html>
{% comment %}
<!-- @see http://www.paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither -->
{% endcomment %}
<!--[if IE 8 ]> <html class="no-js ie8 lt-ie9"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
{% include main/head.html %}
<body>
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">
      Skip to main content
    </a>
  </div>

  {% if page.position_indicator %}
  <div class="position-indicator-wrapper">
    {% include widgets/position-indicator.html sections=site.homepage_sections %}
  </div>
  {% endif %}

  <div class="page-wrapper">
    {% include main/header.html %}

    <div role="main" id="main-content" class="main-content clearfix">
      {{ content }}
    </div>

    <div class="footer-main-navigation-wrapper">
      {% include main/navigation.html id="main-navigation" class="footer-main-navigation" %}
    </div>
    {% include main/footer.html %}
  </div>

  {% include widgets/analytics.html %}

</body>
</html>
