---
layout: default
---
<div class="page">

  {% include page-header.html %}

  {% assign countries = site.data.countries-africa | concat: site.data.countries-americas %}
  {% assign countries = countries | concat: site.data.countries-asia %}
  {% assign countries = countries | concat: site.data.countries-europe %}
  {% include reach-map.html countries=countries %}

<div class="pagenav-wrapper location-nav">
  {% if page.nav_data %}
    <!-- TODO: Use figure out how to use page.nav_data. -->
    {% include page-nav.html entries=site.data.locations %}
  {% endif %}
</div>

  <article class="page-content">
    <div class="page-content-inner">
      {{ content }}
    </div>
  </article>

</div>
