
{% stripwhitespace %}
<ul class="list-follow-links {{ include.class }}">
  <li class="item">
    <a class="link" href="https://twitter.com/dgateway" target="_blank">
      {% icon normal {{ 'twitter.svg' }} class="s-icon" %}
    </a>
  </li>

  <li class="item">
    <a class="link" href="https://www.facebook.com/pages/Development-Gateway/104900753640" target="_blank">
      {% icon normal {{ 'facebook.svg' }} class="s-icon" %}
    </a>
  </li>

  <li class="item">
    <a class="link" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" target="_blank">
      {% icon normal {{ 'rss.svg' }} class="s-icon" %}
    </a>
  </li>

  <li class="item">
    <a class="link" href="{{ site.contact }}" target="_blank">
      {% icon normal {{ 'envelope.svg' }} class="s-icon" %}
    </a>
  </li>
</ul>
{% endstripwhitespace %}
