
<div class="map-wrapper clearfix">
  <div
    id="reach-map"
    class="map"
    data-tiles="{{ site.map.tiles }}"
    data-min-zoom="{{ site.map.minZoom }}"
    data-max-zoom="{{ site.map.maxZoom }}">
    <div class="map-inset-text">
      <h1>Four Regions | One Goal</h1>
      <p class="help">Rollover selected locations for information on select partnerships, case studies, and more.</p>
    </div>
  </div>

  {% forcereducewhitespace %}
  <ul class="reach-data">
    {% assign regions = 'africa,asia,europe,americas' | split: ',' %}
    {% for region in regions %}{% for project in site.data.poi_reach[region] %}
      {% if project.lat and project.lon %}
        <li
          class="reach-map-data"
          data-name="{{ project.name | escape }}"
          data-id="{{ project.id | escape }}"
          data-lat="{{ project.lat | escape }}"
          data-lon="{{ project.lon | escape }}"
          data-year="{{ project.year | escape }}"
          data-category="{{ project.category | escape }}"
          data-description="{{ project.description | escape }}"
          data-quote="{{ project.quote | escape }}"
          data-quoteAuthor="{{ project.quoteAuthor | escape }}"
          data-url="{{ project.url | escape }}"
          data-region="{{ project.region | escape }}">
          <a href="#{{ project.id | escape }}">{{ project.name }}</a>
        </li>
      {% endif %}
    {% endfor %}{% endfor %}
  </ul>
  {% endforcereducewhitespace %}
</div>
