---
---
@charset "utf-8";

// Expose the site.baseurl variable to SASS.
$base_url: '{{ site.baseurl }}';

// Expose grid settings to SASS.
$gen_total_columns_string: '{{ site.sass_variables.gen_total_columns }}';
$gen_column_width_string: '{{ site.sass_variables.gen_column_width }}';
$gen_gutter_width_string: '{{ site.sass_variables.gen_gutter_width }}';
$sidebar_grid_count_string: '{{ site.sass_variables.sidebar_grid_count }}';
$content_grid_count_string: '{{ site.sass_variables.content_grid_count }}';

@import "helpers";
@import "variables";

@import "base";
@import "layout";
@import "reset";
@import "main/main-header";
@import "main/main-navigation";
@import "main/main-footer";
@import "main/page-header";
@import "main/sidebar";
@import "other";

// Include post content specific styles.
@import "posts";

// Include widget specific styles.
@import "widgets/blog-posts.scss";
@import "widgets/forms.scss";
@import "widgets/homepage.scss";
@import "widgets/header-drop-down.scss";
@import "widgets/map.scss";
@import "widgets/page-nav.scss";
@import "widgets/position-indicator.scss";
@import "widgets/projects.scss";
@import "widgets/search.scss";
@import "widgets/team.scss";

// Include styles for syntax highlighting.
// @import "widgets/syntax-highlighting";
